@charset "utf-8";
/*全局样式*/
* {padding:0px;margin:0px;list-style:none;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:12px;font-weight:normal;}
select,input,img,select {vertical-align:middle;margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;border:none;}
body {color:#333;font-size:14px;margin:0;padding:0;background:#fff;}
a {color:#333;text-decoration:none;cursor:pointer;}
a:hover {color:#007338;text-decoration:none;}
.clearit,.clearb {clear:both;margin:0;padding:0;}
.overflow {overflow:hidden;height:1%;}
.fl {float:left;}
.fr {float:right;}
/*------错误提示------*/
.field-validation-error {color:red;}
@-webkit-keyframes tada {0% {-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}
10%,20% {-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);}
30%,50%,70%,90% {-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);}
40%,60%,80% {-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);}
100% {-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}}
@keyframes tada {0% {-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}
10%,20% {-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);}
30%,50%,70%,90% {-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);}
40%,60%,80% {-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);}
100% {-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}}
.main {width:100%;margin:0 auto 0px;padding-bottom:40px;overflow:hidden;}
/*文章、栏目、站点、二级页面主体宽度*/
.main_content {width:1200px;margin:0 auto;}
/*左右布局样式*/
.main_right {width:980px;height:auto !important;float:right;}
.main_left {width:200px;float:left;}
/*板块布局样式*/
.col-md-12 {width:100%;}
.col-md-10 {width:83%;}
.col-md-9 {width:75%;}
.col-md-8 {width:67%;}
.col-md-7 {width:59%;}
.col-md-6 {width:50%;}
.col-md-5 {width:41%;}
.col-md-4 {width:33%;}
.col-md-3 {width:25%;}
.col-md-2 {width:17%;}
.mrg {margin:0 2%;}
/*外边距像素*/
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mg0-10 {margin:0 10px;}
.mg20-0 {margin:20px 0;}
.mg25-0 {margin:25px 0;}
/*内边距像素*/
.pd10 {padding:10px;}
.pd15 {padding:15px;}
.pd20 {padding:20px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:15px;}
.pd0-10 {padding:0px 10px;}
.pd0-15 {padding:0px 15px;}
.pd0-20 {padding:0px 20px;}
.pd5-0 {padding:5px 0px;}
.pd10-0 {padding:10px 0px;}
.pd15-0 {padding:15px 0px;}
.pd20-0 {padding:20px 0px;}
.pd5-15 {padding:5px 15px;}
.pd0-15 {padding:0px 15px;}
.pd0-10 {padding:0px 10px;}
.pd0-20 {padding:0px 20px;}
.pd20-40 {padding:20px 40px;}
.pd5-30 {padding:5px 30px;}
.boxShadow {box-shadow:3px 6px 19px 1px rgba(64,64,64,0.1);}
/*边框样式*/
.border_T {border-top:1px solid #ededed;}
.border_B {border-bottom:1px solid #ededed;}
.border_L {border-left:1px solid #ededed;}
.border_R {border-right:1px solid #ededed;}
.border {border:1px solid #ededed;border-top:2px solid #007338;}
/*渐变样式*/
.transition {transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;}
/*输入框样式*/
input,textarea,select {font-size:14px;color:#555;background-image:none;border:1px solid #ccc;-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
input:focus,textarea:focus,select:focus {border-color:#007338!important;outline:0!important;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
/*公用标题样式*/
h2.title_header,h2.Com_tit {height:45px;line-height:45px;color:#333;font-size:26px;margin-bottom:15px;}
h2.title_header a.more {color:#007338;display:block;float:right;font-size:16px;font-weight:normal;height:16px;line-height:16px;margin-top:15px;}
h2.title_header a.more:hover {font-weight:bold;font-size:18px;}
h2.title_header span,h2.Com_tit span {font-size:20px;font-weight:bold;color:#333;border-left:4px solid #007338;padding-left:10px;}
h2.title_header span a {color:#333;}
h2.title_header.center {text-align:center;height:auto;}
h2.title_header.center p {display:block;font-size:18px;color:#999;line-height:26px;text-align:center;word-spacing:10px;}
h2.title_header.center span {border:none;padding:0;font-size:26px;font-weight:400;}
/*字体颜色*/
.blue {color:#0573be !important;}
.blue span a {color:#0573be !important;}
.red {color:#e23838 !important;}
.red span a {color:#e23838 !important;}
.green {color:#178601 !important;}
.green span a {color:#178601 !important;}
.dark_blue {color:#005087 !important;}
.dark_blue span a {color:#005087 !important;}
.blue span {border-left:3px solid #0573be !important;}
.red span {border-left:3px solid #e23838 !important;}
.green span {border-left:3px solid #178601 !important;}
.dark_blue span {border-left:3px solid #005087 !important;}
.red a.more {background-position:right -16px !important;}
.green a.more {background-position:right -32px !important;}
.dark_blue a.more {background-position:right -48px !important;}
/*文章列表插件样式*/
ul.article_list li {padding-left:15px;line-height:32px;}
ul.article_list li span.span_date {float:right;}
ul.article_list li a.columnName {float:left;color:#007338;margin-right:4px;}
ul.article_list li a.columnName:hover {font-weight:600;}
/*公用读取一篇文章*/
.article_box {overflow:hidden;}
.article_box img {float:left;margin-right:20px;}
.article_box h2 {font-size:18px;color:#333;font-weight:normal;margin-bottom:5px;}
.article_box p {font-size:14px;line-height:28px;color:#999999;}
.article_box .details {float:right;font-size:12px;overflow:hidden;color:#007338;+float:none;}
.article_box .details:hover {font-weight:700;font-size:14px;}
.detail {color:#007338;}
/*article_list_1样式*/
ul.article_list_1 li {overflow:hidden;margin-bottom:14px;line-height:23px;}
ul.article_list_1 li span.span_date {float:left;width:65px;height:45px;line-height:23px;background:#007338;color:#fff;text-align:center;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-right:15px;display:inline-block;}
ul.article_list_1 li span.span_date i {display:block;font-style:normal;text-align:center;font-size:20px;}
ul.article_list_1 li span.span_date p {font-size:12px;}
ul.article_list_1 li a.title_type {display:block;color:#666;font-size:14px;_margin-top:-25px;}
ul.article_list_1 li a.columnName {color:#ababab;}
ul.article_list_1 li a.columnName:hover,ul.article_list_1 li a.title_type:hover {color:#007338;}
/*背景渐变样式*/
h2.title_header a.more:hover,p a.more:hover,p a.details:hover {transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;}
/*错误提示*/
.patient_ask_form .submit_cont {margin:50px auto 90px !important;}
/*专家介绍弹窗样式*/
div.speac_div {background:#fff;border:solid 1px #d9d9d9;width:316px;clear:both;height:138px;padding:10px 10px 12px 10px;left:0px;position:absolute;text-align:left;top:50px;z-index:10000;line-height:22px!important;font-size:12px;color:#333;box-shadow:0px 3px 16px 0px rgba(0,0,0,0.38);border-radius:5px;}
div.speac_div:before,div.speac_div:after {position:absolute;content:'';border-top:10px transparent dashed;border-left:10px transparent dashed;border-right:10px transparent dashed;border-bottom:10px #fff solid;top:-20px;left:10px;}
div.speac_div:before {border-bottom:10px #d9d9d9 solid;}
div.speac_div:after {left:10px;border-bottom:10px #fff solid;}
div.speac_div img {float:left;margin:0 10px 0 0;width:99px;height:134px;line-height:20px;}
div.speac_div h2 a {float:none!important;font-size:14px;}
@media only screen and (max-width:1024px) {.main,.main_content {width:1200px;}}
@media only screen and (max-width:768px) {.main {margin:0px 0px 20px;width:100%;box-sizing:border-box;padding:0 10px;}
.main_content {width:100%;}
.main_content {width:100%;margin:10px auto;}
.banner img {width:100%;}
/*板块布局样式*/
.col-sm-12 {width:100%;float:none;margin-bottom:20px;}
.col-sm-6 {width:50%;}
.col-sm-hid {display:none;}
.speac_div {display:none;}}
@media only screen and (max-width:640px) {
/*板块布局样式*/
.col-sm-6 {width:100%;float:none;margin-bottom:20px;}
.col-md-7 {width:100%;float:none;}
.col-md-5 {width:100%;float:none;}
.col-xs-hid {display:none;}
.mrg {margin:0 0 20px 0;}}
/*------------------------头部---------------*/
/*顶部*/
.topbar{background:#F5F5F5;width:100%; margin:0 auto;height:30px;}
.topbarwidth{max-width:1200px; margin:0 auto;}
.topbar .fl{line-height:30px;height:30px;}
.topbar .fl a{color:#333;font-size:13px;}
.topbar .fl span{color:#333;}
.topbar .fl i{margin-left:5px;font-size:14px;}
.topbar .fr{color:#fff;line-height:30px;height:30px;}
.topbar .fr a{color:#333;display:inline-block;font-size:14px; padding-right:20px}
.topbar .fr a:hover{color:#d41010;}
/***鼠标悬停效果***/
#qrcode{position:relative;}
#code{display:none;width:140px;height:143px;background-repeat:no-repeat;background-size:100%;position:absolute;left:-40px;margin-top:10px;z-index:999;background:#fff;border:1px solid #fff;border-top:2px solid #fff;box-shadow:0 0 10px 2px rgba(0, 0, 0, .08);border-radius:5px;}
#code:after{content:'';display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;position:absolute;top:-12px;right:45%;}
#qrcode:hover>#code {display:block;}
/*头部*/
.header_top{height: 120px;line-height: 120px;}
.header_topIn{max-width:1200px; margin:0 auto; font-size:12px; color:#333}
.arrow{ height:41px; position:relative; display:block}
.arrow ul{ display:none; position:absolute; width:85px; background:#fff; left:12px; text-align:center;}
.arrow ul li{ line-height:32px;}
.arrow ul li:hover{ background:#2076bd; color:#fff;}
.arrow ul li a{ display:block;}
.arrow ul li a:hover{ color:#fff;}
.arrow .current{color:#fff; display:block; width:60px;}
.arrow .current:hover{ color:#fff;}
.login_l{ _width:179px}
a.wj_logo{display:block;float:left}
a.wj_logo img{margin-top:1px}
.login_r #header_QRCode{width: 24px;height: 24px;float: left; margin: 8px 10px 0 0;}
.login_r #header_QRCode .title,.login_r .impowerBox .info{display: none;}
.login_r #header_QRCode .impowerBox .qrcode {width: 120px;position: absolute;right: -50px;top: 10px;}

.login_r span{ float:left;}
.login_r a{ color:#333}
.login,.register{ float:left; }
.line{ margin:0 20px; font-size:14px;}
/*logo样式*/
.header_bottomIn{ width:1200px; margin:0 auto;height:108px;}
@media only screen and (max-width: 1024px){
.header_top,.header_topIn,.header_bottomIn{ width:1200px; }
}
@media only screen and (max-width: 768px){
.header_topIn,.header_bottomIn,.header{ width:100%; box-sizing:border-box}
.header_top{width:100%; line-height:75px;height:75px;}
.header_bottomIn{ width:100%}
.topbar{display:none;}
.FollowUs>.line{display: none;}
.login_r{margin-right: 100px;}
.logo img{height: 60px;}
} 
@media only screen and (max-width: 480px){
 .login_r{display: none;}
 .topbar{display:none;}
}
@media only screen and (max-width: 375px){
.header_topIn .login_r{float:left;} 
.header_top{width:100%; line-height:50px;height:50px;}
.logo img{height: 50px;}
}  

/*PC导航样式*/
.nav {z-index:9999;background:#007338;}
.sy_nav {margin:0 auto;max-width:1200px;}
.linkmap {max-width:1200px;margin:0 auto;line-height:60px;}
/*一级导航*/
li.sy1_li {float:left;position:relative;width:11%;}
li.sy1_li a.sy1_tit {color:#fff;font-size:18px;height:55px;line-height:55px;display:block;text-align:center;z-index:9;position:relative;}
li.sy1_li a.sy1_tit.isNow::after {content:'';display:block;position:absolute;bottom:7px;left:50%;transform:translateX(-50%);width:20px;height:3px;background:#fff;border-radius:15px;}
li.sy1_li a.sy1_tit:hover,li.sy1_li a.sy1_tit.Hover {background:#00843b;}
/*二级导航*/
.sy2_ul {background:#007338;display:none;position:absolute;z-index:100000;left:0;top:55px;width:100%;}
li.sy2_li {position:relative;z-index:100001;height:40px;line-height:40px;overflow:hidden;}
li.sy2_li a.sy2_tit {display:block;color:#fff;padding:0 19px;text-align:center;}
li.sy2_li a.sy2_tit:hover,li.sy1_li a.sy2_tit.Hover {background:#00843b;}
/*三级导航*/
ul.sy3_ul {position:absolute;background:#007338;display:none !important;z-index:100001;left:172px;top:0px;width:180px;}
li.sy3_li {height:40px;line-height:40px;}
li.sy3_li a.sy3_tit {display:block;color:#fff;padding:0 19px;}
.sy2_ul_div {display:none!important;}
/*手机导航PC样式*/
ul.phone-btn{display:none;}
@media only screen and (max-width:1024px) {.nav,.sy_nav {width:1200px;}}
@media only screen and (max-width:768px) {.nav,.sy_nav {width:100%;}
div.wrap_main {z-index:2;margin:0;background:#fff;}
div.linkmap {margin:0;line-height:40px;}
*::after,*::before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nav {width:inherit;height:auto;line-height:50px;}
.phone-btn {position:absolute;display:inline-block;top:-60px;right:0;width:46px;height:46px;}
ul.phone-btn {display:block;background-color:#fff;}
ul.phone-btn li {display:inline-block;}
.phone_header,.wrap_main,.search_con {position:relative;-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
.phone_header {background:#ffffff;z-index:3;}
.wrap_main.phone_move,.phone_header.phone_move,.search_con.phone_move {-webkit-transform:translateX(-260px);-moz-transform:translateX(-260px);-ms-transform:translateX(-260px);-o-transform:translateX(-260px);transform:translateX(-260px);}
.wrap_main.search_move {-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px);}
.phone-menu {position:relative;display:block;width:44px;height:44px;overflow:hidden;white-space:nolinkmap;color:transparent;z-index:3;text-indent:-9999px;}
.phone-menu span,.phone-menu span::before,.phone-menu span::after {position:absolute;display:inline-block;height:3px;width:24px;background:#007338;}
.phone-menu span {position:absolute;top:50%;right:10px;margin-top:-2px;-webkit-transition:background 0.3s 0.3s;-moz-transition:background 0.3s 0.3s;transition:background 0.3s 0.3s;}
.phone-menu span::before,.phone-menu span::after {content:'';right:0;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform-origin:0% 50%;-moz-transform-origin:0% 50%;-ms-transform-origin:0% 50%;-o-transform-origin:0% 50%;transform-origin:0% 50%;-webkit-transition:-webkit-transform 0.3s 0.3s;-moz-transition:-moz-transform 0.3s 0.3s;transition:transform 0.3s 0.3s;}
.phone-menu span::before {top:-6px;}
.phone-menu span::after {top:6px;}
.phone-menu.menu-open span {background:rgba(46,50,51,0);}
.phone-menu.menu-open span::before {-webkit-transform:translateX(4px) translateY(-3px) rotate(45deg);-moz-transform:translateX(4px) translateY(-3px) rotate(45deg);-ms-transform:translateX(4px) translateY(-3px) rotate(45deg);-o-transform:translateX(4px) translateY(-3px) rotate(45deg);transform:translateX(4px) translateY(-3px) rotate(45deg);}
.phone-menu.menu-open span::after {-webkit-transform:translateX(4px) translateY(2px) rotate(-45deg);-moz-transform:translateX(4px) translateY(2px) rotate(-45deg);-ms-transform:translateX(4px) translateY(2px) rotate(-45deg);-o-transform:translateX(4px) translateY(2px) rotate(-45deg);transform:translateX(4px) translateY(2px) rotate(-45deg);}
.sy1_ul {position:fixed;top:0;right:0;height:100%;width:260px;background:#007338;overflow:auto;-webkit-overflow-scrolling:touch;z-index:1;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
.sy1_ul {visibility:hidden;-webkit-transition:visibility 0s 0.3s;-moz-transition:visibility 0s 0.3s;transition:visibility 0s 0.3s;}
.sy1_ul.nav-open {visibility:visible;-webkit-transition:visibility 0s 0s;-moz-transition:visibility 0s 0s;transition:visibility 0s 0s;}
/*子菜单样式*/
li.sy1_li {float:none;position:relative;border-bottom:1px solid #00843b;width:100%;text-align:left;}
li.sy1_li.Has_Children {padding-right:35px;box-sizing:border-box;}
li.sy1_li a.sy1_tit {border-right:none;color:#fff;height:46px;line-height:46px;}
li.sy1_li a.sy1_tit:hover,li.sy1_li a.sy1_tit.Hover {color:#fff;border-bottom:0px;}
li.sy2_li a.sy2_tit {padding:0px 30px;color:#fff;}
.Has_Children>a.next_open {display:block;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #f1f1f1;position:absolute;top:17px;right:14px;transition:all 0.3s ease 0s;}
.Has_Children>a.next_open.next_close {border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #f1f1f1;border-top:inherit;}
.li.sy1_li a.sy1_tit,.sy1_ul ul a {display:block;color:#ffffff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow:hidden;text-overflow:ellipsis;white-space:nolinkmap;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);will-change:transform,opacity;-webkit-transition:-webkit-transform 0.3s,opacity 0.3s;-moz-transition:-moz-transform 0.3s,opacity 0.3s;transition:transform 0.3s,opacity 0.3s;}
/*二级导航*/
.sy2_ul,li.sy2_li a.sy2_tit:hover {background:none;}
.sy2_ul {position:inherit;top:inherit;width:100% !important;}
li.sy2_li.Has_Children a.next_open {display:none;}
.dl_btn {display:block;}}
@media only screen and (max-width:480px) {/* .phone-btn {top:-100px;}*/ .sy1_ul {width:180px;}
.wrap_main.phone_move,.phone_header.phone_move,.search_con.phone_move {-webkit-transform:translateX(-180px);-moz-transform:translateX(-180px);-ms-transform:translateX(-180px);-o-transform:translateX(-180px);transform:translateX(-180px);}}
@media only screen and (max-width:375px) {.phone-btn {top:-50px;}}
/*------------------------底部---------------*/
/*link*/
.link {padding-bottom:15px;margin:8px auto 0 auto;width:960px;}
.linktitle {line-height:35px;width:1200px;margin:0 auto;display:none;}
.linkspan a {color:#2076bd;font-weight:500;font-family:'微软雅黑',Arial,Helvetica,sans-serif;font-size:16px;}
.linkspan a:hover {text-decoration:none;color:#198366;}
.swiper-container-link {height:50px;width:1200px;padding:20px 0px;}
.linkul {overflow:hidden;margin:0px auto;}
.noFind {padding:20px;}
.linkli {float:left;padding:0 15px;line-height:24px;box-sizing:border-box;}
.linkul li.last {background:none;}
.linkli a {color:#555;}
.linkli a:hover {color:#2B8873;text-decoration:none;}
.linkli img {width:180px !important;height:50px !important;}
/*foot*/
.FriendLink {background:#f4f4f4;}
.link_con {width:1200px;margin:0 auto;overflow:hidden;}
.footer a {color:#666666;}
.footer {padding:20px 0;color:#666666;background:#EEEEEE;}
.footer_In {width:670px;margin:0 auto;}
.footer_In li {float:left;line-height:36px;color:#666666;}
.footerNav li {float:left;line-height:36px;color:#666666;}
.footerNav li.line {padding:0 10px;margin:0;}
.footerNav a {color:#666666;}
.footerNav a:hover {text-decoration:underline;}
.footerNav {width:400px;margin:0 auto;}
.btn_line {margin:10px 0;height:4px;}
.footer p {text-align:center;line-height:36px;}
@media only screen and (max-width:1024px) {.FriendLink,.footer,.footer_In {width:1200px;}}
@media only screen and (max-width:768px) {.btt {display:none !important;}
.footer,.footer_In {width:100%;}
.footerNav,.footerF{display:none;}
.btn_line {display:none;}
.footer p.add {display:none;}
.FriendLink {display:none;}
ul.footerF {width:100%;}}
@media only screen and (max-width:600px) {.line {display:none;}
ul.footerF li {float:none;text-align:center;}}
@media only screen and (max-width:420px) {.copyright p a {display:block;}
.copyright p {line-height:inherit;}}