/*font*/
@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*font*/
/*font*/
@font-face {
	font-family: "commonfont";
	src: url('../font/common.woff') format('woff'), url('../font/common.ttf') format('truetype');
}
.commonfont {
	font-family: "commonfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.top-title {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 0;
	font-size: 0.3rem;
	line-height: 0.71rem;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
/* Style Reset */
html {
	font-size: 625%;
	-webkit-text-size-adjust: none;
	max-height: 100%
}
body {
	font-size: 0.16rem;
}
body, p, h1, ul, li, input, img, figure, h3, h1, h2, dl, dd, dt {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}
ul, ol, li, dl, dt, dd {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0px;
}
fieldset, img {
	border: 0;
}
img {
	display: block;
	max-width: 100%
}
input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], input[type="button"], textarea {
	-webkit-appearance: none;
}
.clear {
	clear: both;
	width: 100%;
}
.c {
	clear: both;
	width: 100%;
}

/*header*/
.head {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 0.691rem;
	top: 0;
	right: 0;
	line-height: 0.791rem;
	z-index: 99;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.logo {
	display: inline-block;
	width: 62.8125%;
	height: auto;
}
.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}
.class-btn {
	position: absolute;
	right: 16%;
	top: 0%;
	width: 14.0625%;
	font-size: 0.24rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.top-title {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 0;
	font-size: 0.3rem;
	line-height: 0.71rem;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.sub_page {
	min-height: 6rem;
	overflow: hidden;
	font-size: 0.16rem
}
.sub_page center {
	padding: 0.4rem 0;
	font-size: 0.2rem
}
.sub_page center a {
	color: red
}
.search_hl {
	width: 14.0625%;
	top: -1px;
	position: absolute;
	height: 100%;
	font-size: 0.38rem;
	line-height: 0.8rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.search_l {
	left: 0%;
}
/*header end*/
/* nav */
body {
	position: relative;
	width: 100%;
	background: #fff;
	height: 100%;
}
.allpage {
	position: relative;
	z-index: 10;
	background: #fff;
	height: auto;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	right: 0;
	min-height: 6rem;
}
.clicked {
	right: 220px!important;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.fixed {
	width: 220px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.nav li {
	width: 220px;
	margin: 0 auto;
	border-bottom: 1px solid #016eb9;
	border-top: 1px solid #016eb9;
}
.nav li a {
	display: block;
	width: 100%;
	font: 700 16px/50px '微软雅黑';
	color: #fff;
	text-align: center;
}
.nav li a span {
	margin-right: 3%;
}
.nav li p {
	text-indent: 70px;
}
.nav li:last-child {
	margin-bottom: 20%;
	border-bottom: 0;
}
#allmap {
	width: 100%;
	height: 8rem;
	font-size: 0.18rem
}
.share {
	bottom: 5%;
	display: none;
	z-index: 9;
	position: fixed!important;
	width: 100%;
}
.black-fixed {
	position: fixed;
	z-index: 99999!important;
	left: 0;
	width: 0;
	top: 0;
	height: 150%;
	background: rgba(0,0,0,0.9);
	text-align: right;
	font-size: 0.4rem;
	color: #fff;
	line-height: 2;
	right: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	opacity: 0
}
.black-clicked {
	width: 100%;
	padding-right: 2%;
	left: -227px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	opacity: 1
}
/* nav end*/

.header {
	height: 0.691rem!important;
	position: relative;
	z-index: 9999;
}
.head {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 0.691rem;
	top: 0;
	right: 0;
	line-height: 0.791rem;
	z-index: 99;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
/* sub header */
.nav-btn {
	width: 14.0625%;
	right: 0;
	top: 0;
	position: absolute;
	font-size: 0.4rem;
	line-height: 0.71rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.home-btn {
	width: 14.0625%;
	left: 1.09375%;
	top: 0;
	position: absolute;
	height: 100%;
	font-size: 0.4rem;
	line-height: 0.71rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
	display: block;
}
.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}
.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.class-btn {
	position: absolute;
	right: 16%;
	top: 0%;
	width: 18.0625%;
	font-size: 0.24rem;
	line-height: 0.666rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.class-btn span.commonfont {
	font-size: 0.28rem
}


.m-boxA{}.m-boxA-hd{position:relative;height:3rem;line-height:3rem;border-bottom:1px solid #e3e3e3;-moz-border-radius:0.33333rem 0.33333rem 0 0;-webkit-border-radius:0.33333rem 0.33333rem 0 0;border-radius:0.33333rem 0.33333rem 0 0}
.m-boxA-tit{position:relative;padding-left:1.25rem;font-size:14px;color:#2c2c2c;top:2px}
.m-listA li{float:left;margin:0.20833rem 0;width:27%;height:3.33333rem;line-height:3.41667rem;overflow:hidden;font-size:1.08333rem}
.m-listA li a{display:block;height:100%;overflow:hidden}
.m-listA li a:active{background-color:#f2f2f2}
.m-listA li a img{vertical-align:-5px;margin:0 0.41667rem 0 0.25rem;width:1.66667rem;height:1.66667rem}
.m-listA li:nth-child(4n){width:19%}
.m-listA li:nth-child(4n) a{display:inline-block;padding-right:0.33333rem}
.m-listD{font-size:1.25rem;overflow:hidden;border-bottom:1px solid #e3e3e3}
.m-listD:last-child{border-bottom:0 none}
.m-listD-tit{position:relative;height:3rem;line-height:3rem;padding-left:1.04167rem;border-bottom:1px solid #e3e3e3;overflow:hidden}
.m-listD-item{height:3.25rem;line-height:3.25rem;border-bottom:1px solid #e3e3e3}
.m-listD-item:last-child{border-bottom:0 none}
.m-listD-item a{line-height:3.25rem;position:relative;float:left;width:17.6%;height:3.25rem;text-align:center;overflow:hidden}
.m-listD-item a:after{content:"";position:absolute;top:50%;right:0;margin-top:-0.79167rem;background-color:#e3e3e3;width:1px;height:1.58333rem;overflow:hidden}
.m-listD-item a:nth-child(6n){font-size:1rem;color:#6e6d6d;width:12%;text-indent:4px}
.m-listD-item a:nth-child(6n):after{display:none}
.m-listD-item a:active{background-color:#f2f2f2}
.m-listD-item a:first-child{color:#3097fd}
.m-listE{padding:0.41667rem 0.58333rem;overflow:hidden}
.m-listE li{float:left;width:20%;text-align:center}
.m-listE li a{display:block;overflow:hidden;height:5.75rem;font-size:1.08333rem;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.m-listE li a:active{background-color:#f2f2f2}
.m-listE img{display:block;margin:0.83333rem auto 0.41667rem;width:2.25rem;height:2.25rem}
.m-box-smz{}
.module-boxA{}.module-boxA-hd{height:0.56667rem;line-height:0.59167rem;border-bottom:1px solid #e3e3e6;overflow:hidden}
.module-boxA-hd .module-boxA-tit{position:relative;margin-left:0.33333rem;font-size:14px;color:#0075c5;padding-left:0.35333rem;font-weight:bold;}
.module-boxA-hd .module-boxA-tit:before{content:"";position:absolute;left:0;top:50%;margin-top:-0.625rem;width:0.08rem;height:0.75rem;overflow:hidden;background-color:#4ea3f7}
.module-boxA-hd .module-boxA-right a{float:right;margin-right:0.13333rem;font-size:14px;color:#666666;padding-right:0.15333rem}
.module-listA{overflow:hidden}
.module-listA li{position:relative;float:left;width:25%;height:30px;line-height:30px;overflow:hidden;border-bottom:1px solid #eee;text-align:center}
.module-listA li:after{content:"";position:absolute;right:0;margin-top:-0.79167rem;background-color:#eee;width:1px;height:1.58333rem;overflow:hidden}
.module-listA li a{display:block;height:100%;font-size:14px;text-align:center;overflow:hidden;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.module-listA li a:active{background-color:#f7f7f7}
.module-listA li:nth-last-child(1),.module-listA li:nth-last-child(2),.module-listA li:nth-last-child(3),.module-listA li:nth-last-child(4){border-bottom:0 none}
.module-listA li:nth-child(4n):after{display:none}

.ulPic{}
.ulPic li{float:left;text-align:center;position:relative;margin-top:.07rem;width:100%}
.ulPic li .sTatus{position:absolute;right:.33rem;top:.33rem;background:#ff5757;color:#fff;padding:.2rem;font-size:.8rem;line-height:1}
.ulPic li .aMask{position:absolute;top:0}
.ulPic li .pic{width:100%;position:relative;z-index:5;overflow:hidden}
.ulPic li .pic img{width:100%;display:block;vertical-align:top}
.ulPic li .pic .sBottom{position:absolute;bottom:0;right:0;height:.93rem;line-height:.93rem;padding:0 .33rem;background:rgba(0,0,0,.5);color:#fff;font-size:.67rem;z-index:10}
.ulPic li .pic.pic16_9 img,.ulPic li .pic.pic1_1 img,.ulPic li .pic.pic223_310 img,.ulPic li .pic.pic3_4 img,.ulPic li .pic.pic4_3 img,.ulPic li .pic.pic9_16 img{position:absolute;top:0;left:0;height:100%;z-index:1}
.ulPic li .pic.pic223_310{padding-top:139%}
.ulPic li .pic.pic4_3{padding-top:75%}
.ulPic li .pic.pic1_1{padding-top:100%}
.ulPic li .pic.pic16_9{padding-top:100%}
.ulPic li .pic.pic3_4{padding-top:133%}
.ulPic li .pic.pic9_16{padding-top:178%}
.ulPic li .pFun{padding-top:.17rem;line-height:1.2rem;height:1.2rem}
.ulPic li .pFun span{display:inline;color:#999;font-size:.67rem;overflow:hidden;height:1.2rem}
.ulPic li .pFun span .iconfont{float:left;line-height:1.2rem;height:1.2rem;overflow:hidden;font-size:.8rem;padding-right:.17rem;color:#d5d5d5}
.ulPic li .pFun span.sUser{float:left}
.ulPic li .pFun span.sNum{float:right}
.ulPic li .pFun span.tText{float:left;font-size:.93rem;color:#333;width:100%}
.ulPic li .pFun span.tText .emNum{float:right;color:#666}
.ulPic li span{overflow:hidden;display:block;text-align:left}
.ulPic li span.sTit{line-height:0.6rem;height:0.6rem;color:#333;text-align:center;font-size:14px;}
.ulPic li span.sTit em{color:#666;padding-left:.67rem}
.ulPic li span.sTit em.emNum{float:right;color:#999;padding-left:0;font-size:.8rem}
.ulPic li span.sTit em.emNum i{float:left;font-size:.8rem;vertical-align:middle}
.ulPic li span.sTit_2{padding-top:.33rem;display:block;height:2.27rem;overflow:hidden}
.ulPic li span.sTit_2 em{font-size:.93rem;line-height:1.13rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.ulPic li span.sDes{color:#999;line-height:.87rem;height:.87rem;font-size:.8rem}
.ulTxt li,.ulTxt li a{line-height:1.4rem;height:1.4rem;font-size:.8rem;overflow:hidden;float:left}
.ulPic li span.sDes em{display:inline-block;margin-right:.33rem}
.ulPic.ulPic_2 li{width:47%;margin-left:2%;}
.ulPic.ulPic_2 li:nth-child(2n){margin-left:2%}
.ulPic.ulPic_3 li{width:32%}
.ulPic.ulPic_3 li:nth-child(3n+2){margin-left:2%;margin-right:2%}
.ulPic.ulPic_4 li{width:22%;margin-left:4%}
.ulPic.ulPic_4 li:nth-child(4n+1){margin-left:0}
.ulPic.ulPic_4 li span{text-align:center}

.list{padding:1px 0;}
.channel{width:100%;}
.channel li a{height:30px;line-height:30px;background:url(http://imgcdn.bingdou.net/yongzhoudao/images/text.png) 9px 10px no-repeat;}
.channel li a:hover{background:url(http://imgcdn.bingdou.net/yongzhoudao/images/text_active.png) 9px 10px no-repeat;}
.list li{border-bottom:#CEDCF0 dashed 1px;font-size:14px;width:95%;margin-left:2%;}
.list li a{display:block;overflow:hidden;padding-left:25px;color:#131313;}
.list li a:hover,.list li a:active{background-color:#EEF3FA;text-decoration:none;}



/* footer */
.footer-site{text-align:center}
.footer-site .links{margin-top:0.16667rem;margin-bottom:0.16667rem;font-size:14px;}
.footer-site .links a{padding:0 0.2rem;border-left:1px solid #b6b6b6}
.footer-site .links a:first-child{border-left:none}
.footer-site .ex{padding-bottom:1.05rem;color:#666666}
.footer {
	width: 100%;
	position: fixed!important;
	bottom: 0;
	right: 0;
	z-index: 9999;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.foot {
	width: 100%;
	position: fixed;
	height: 0.8rem;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.foot-relative {
	position: relative;
	width: 100%;
	height: 0.8rem;
}
.foot a {
	display: block;
	float: left;
	width: 25%;
	color: #fff;
}
.foot a span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.4rem;
	line-height: 0.5rem;
}
.foot a h3 {
	width: 100%;
	text-align: center;
	font: 0.18rem/0.2rem "microsoft yahei";
}
.common-pro-search {
	width: 90%;
	height: 0.533rem;
	background: #fff;
	margin: 2% auto;
}
.common-text {
	float: left;
	border: 0;
	background: #fff;
	width: 84.45%;
	height: 0.533rem;
	text-indent: 0.1rem;
	font: 0.16rem/0.533rem "microsoft yahei";
	border-radius: 0;
}
.common-submit {
	float: right;
	width: 15.55%;
	border: 0;
	font-size: 0.36rem;
	line-height: 0.533rem;
	color: #fff;
	height: 0.533rem;
	border-radius: 0;
	background: none;
	background: #333;
}
.share {
	bottom: 5%;
	display: none;
	z-index: 9;
	position: fixed!important;
	width: 100%;
}