/* reset */
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
html { height: 100% ;-webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color: transparent;}
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight:normal; }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
/*sup { vertical-align: text-top }
sub { vertical-align: text-bottom }*/
body, input, select, button, textarea { font-size: 14px; font-family: "微软雅黑";   }

body { line-height: 1.5 }
a { text-decoration: none;-webkit-tap-highlight-color:transparent }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }
.edit_con_original{ line-height:2; padding:0 0; color:#333;}
.edit_con_original ul{ margin:inherit; padding:inherit; padding-left:2em;}
.edit_con_original ul li { list-style-type:disc; margin:auto; }
.edit_con_original ol{ margin:inherit; padding:inherit}
.edit_con_original ol li { list-style-type:decimal; margin:auto; }
.edit_con_original h1 { font-size: 2em; font-weight:bold }
.edit_con_original h2 { font-size: 1.5em; font-weight:bold }
.edit_con_original h3 { font-size: 1.17em; font-weight:bold }
.edit_con_original h4 { font-size: 1em; font-weight:bold }
.edit_con_original h5 { font-size: 0.83em; font-weight:bold }
.edit_con_original h6 { font-size: 0.67em; font-weight:bold }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: separate; border-spacing: 2px }
.edit_con_original img{ max-width:100%; height:auto;}
.edit_con_original video{ max-width:100%;display: block;margin:auto;}
 
 
/*所有后台编辑器区域都要引用 edit_con_original 类名*/
 
/* clear 页头，页脚，内容区都不用再加清除样式 */
.fixed:before, .clearfix:before, .cf:before, body:before, .header:before, .main:before, .footer:before { content: ''; display: table }
.fixed:after, .clearfix:after, .cf:after, after, .header:after, .main:after, .footer:after { content: ''; display: table; clear: both }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
 
 
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }
               
       
.err_position{ width:100%; height:auto; background:url(../images/errors.png) center no-repeat;}


/*隐藏视频下载按钮*/
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}

/* 阿里图标 */
[class*='icon']{
    font-family: 'iconfont';
}



/*图片经过*/
.tran_scale,.tran_scale02{ overflow:hidden; display:block;}
/*img{transition: All 0.7s ease-in-out;}*/
.tran_scale img,.tran_scale02 img{-webkit-transition: opacity .4s ease-in,-webkit-transform .6s linear;transition: opacity .4s ease-in,transform .6s linear;}


/*两端对齐*/
.justify { text-align:justify; text-justify:distribute-all-lines;}
/*上下居中*/
.v-m-c{ transform: translate(0,-50%); -webkit-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%); position:absolute; left:0; top:50%;}

/*左右居中*/
.l-m-c{ transform: translate(-50%,0); -webkit-transform: translate(-50%,0);-ms-transform: translate(-50%,0);-moz-transform: translate(-50%,0);-o-transform: translate(-50%,0); position:absolute; left:50%; top:0;}

/*绝对居中*/
.a-m-c{ transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%); position:absolute; left:50%; top:50%;}

.animate{ transition: 1.5s all cubic-bezier(0.19, 1, 0.22, 1);}
.animate_slowx { transition: 2.5s all cubic-bezier(0.19, 1, 0.22, 1); }
.animate_fast{ transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);}
.animate_slow{ transition: 10s all cubic-bezier(0.19, 1, 0.22, 1);}
.animate_normal{ transition: 0.5s all linear;}


button,input,textarea{background: none;outline: none;border: none;}
body,a{color: #434343;}

.wrap{width: 1400px;max-width: 90%;margin: auto;}

.line24{line-height: 24px;
 display: -webkit-box;
  overflow: hidden;
  
  -webkit-box-orient: vertical;
}
.line26{line-height: 26px;
 display: -webkit-box;
  overflow: hidden;
  
  -webkit-box-orient: vertical;
}
.line30{line-height: 30px;
 display: -webkit-box;
  overflow: hidden;
  
  -webkit-box-orient: vertical;
}
.line32{line-height: 32px;
 display: -webkit-box;
  overflow: hidden;
  
  -webkit-box-orient: vertical;
}

.line36{line-height: 36px;
 display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.ellipsis_p{
   display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ratio-img,.ratio-img img{width: 100%;}
.bold{font-weight: bold;}
.ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
@media only screen and (max-width:1024px) {
.wrap{max-width: 94%;}
.line26,.line30,.line32,.line36{line-height: 24px;}

}

 /*font-size*/
.fnt_16 { font-size: 16px;}
.fnt_18 { font-size:18px;}
.fnt_20 { font-size:20px;}
.fnt_24 { font-size:24px;}
.fnt_28 { font-size:28px;}
.fnt_30 { font-size:30px;}
.fnt_36 { font-size:36px;}
.fnt_48 { font-size:48px;}
.fnt_72 { font-size:72px;}
@media only screen and (max-width:1599px) {
  .fnt_20 { font-size:18px;}
}
@media only screen and (max-width:1440px) {
.fnt_18 { font-size:16px;}
.fnt_20 { font-size:16px;}
.fnt_24 { font-size:20px;}
.fnt_28 { font-size:26px;}
.fnt_30 { font-size:24px;}
.fnt_36 { font-size:30px;}
.fnt_48 { font-size:40px;}
.fnt_72 { font-size:60px;}
}
@media only screen and (max-width:1366px) {
.fnt_20 { font-size:14px;}
.fnt_28 { font-size:24px;}
.fnt_30 { font-size:22px;}
.fnt_36 { font-size:24px;}
.fnt_48 { font-size:36px;}
.fnt_72 { font-size:36px;}
}
@media only screen and (max-width:1260px) {
	.fnt_18 { font-size:14px;}
}
@media only screen and (max-width:1024px) {
.fnt_16 { font-size: 14px;}
.fnt_18 { font-size:16px;}
.fnt_24 { font-size:18px;}
.fnt_28,.fnt_30 { font-size:20px;}
.fnt_36 { font-size:22px;}
.fnt_48 { font-size:28px;}
.fnt_72 { font-size:30px;}
}
@media only screen and (max-width:767px) {
.fnt_16 { font-size: 14px;}
.fnt_18 { font-size:14px;}
.fnt_20 { font-size:14px;}
.fnt_24 { font-size:16px;}
.fnt_28,.fnt_30 { font-size:18px;}
.fnt_36 { font-size:18px;}
.fnt_48 { font-size:20px;}
.fnt_72 { font-size:24px;}
}

.scrollHeader .header{box-shadow: 0px 0px 18px -9px rgba(0,0,0,0.5);}
.header,.height_height,.menu{height: 76px;line-height: 76px;}
.header{position: fixed;top:0;left: 0;width: 100%;background: #fff;z-index: 999;}
.header_in{padding-left: 30px;position: relative; z-index: 9999;background: #fff; height: 100%;}
.header h1{float: left;padding-top: 12px;}
.header h1 a{width: 128px;float: left;}
.header h1 img{width: 100%;}
.header h1 span{color: #151e5f;float: left;padding-left: 20px;margin-left: 20px;border-left: 1px solid #d1d1d1;line-height: 36px;margin-top: 7px;}
.nav{padding-left: 170px;float: left;}
.nav span{display: none;}
.nav li{float: left;}
.nav li>a{display: block;padding:0 30px;font-size: 18px;}
.nav li.on>a{color:#fff!important; background: #D8000B;}

.header_re {float: right;}
.header_re>div{float: left;}
.header_login a{float: left;}
.header_login i{float: left;margin: 0 5px}
.login_div01 a:last-child{color: #C7103C;}
.login_div02 .person_name{max-width: 100px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.language{margin: 0 40px;visibility:hidden !important;}
.menu{float: right;width: 75px;background: #c7103c;color: #fff;}
/*手机导航按钮开始*/
.body_nav_phone .nav_phone_btn,.nav_phone_btn span,.nav_phone_btn span:before,.nav_phone_btn span:after{background: #fff;}
.nav_phone_btn{cursor: pointer;width:100%; height:100%;position: relative;text-align: center;}
.body_nav_phone .nav_phone_btn{text-align: left; }
.nav_phone_btn span {position: relative;font-size: 0;width:40px;height: 3px;display: inline-block;transition:all 250ms ease-out;-webkit-transition:all 250ms ease-out;  top:28px;}
.nav_phone_btn span:before,.nav_phone_btn span:after {content: "";position: absolute;width: 100%;height: 3px;left:0px;transition:all 250ms ease-out;-webkit-transition:all 250ms ease-out;}
.nav_phone_btn span:before{top:-8px;width: 30px;}
.nav_phone_btn span:after{top:8px;width: 32px;}
.visible_nav.nav_phone_btn span{background-color: transparent !important;}
.visible_nav.nav_phone_btn span:before{left:5px;top:0px;transform: rotateZ(45deg);-webkit-transform: rotateZ(45deg);-ms-transform: rotateZ(45deg);}
.visible_nav.nav_phone_btn span:after{top:0px;left: 5px;transform: rotateZ(-45deg);-webkit-transform: rotateZ(-45deg);-ms-transform: rotateZ(-45deg);}

.nav_phone_btn.visible_nav{width:100%}

.nav_phone_btn.visible_nav span{width: 20px;right:12px;}
.nav_phone_btn.visible_nav span:before, .nav_phone_btn.visible_nav span:after{background: #fff;}




/*手机按钮结束*/
@media only screen and (max-width:1800px) {
.nav{padding-left: 80px;}
}
@media only screen and (max-width:1680px) {
.language{margin: 0 30px;}
.nav li>a{padding: 0 16px;}
}
@media only screen and (max-width:1550px) {
.nav{padding-left: 50px;}
.nav li>a{padding: 0 14px;}
.language{margin: 0 20px;}
.menu{width: 65px;}
.nav_phone_btn span,.nav_phone_btn span:before, .nav_phone_btn span:after{height: 2px;}
.nav_phone_btn span{top:32px;}

}
@media only screen and (max-width:1440px) {
.nav li>a{font-size: 16px;}
}
@media only screen and (max-width:1400px) {
.nav li>a{padding: 0 14px;}
}
@media only screen and (max-width:1366px) {
.nav li>a{padding: 0 12px;}
.language{margin: 0 16px;}
}
@media only screen and (max-width:1365px) {
	.nav li>a{padding: 0 10px;}
}
@media only screen and (max-width:1300px) {
.nav{padding-left: 25px;}
}
@media only screen and (max-width:1280px) {
.nav li>a{padding: 0 10px;}
}
@media only screen and (max-width:1260px) {
.nav li>a{font-size: 14px;}
}
@media only screen and (max-width:1180px) {
.nav li>a{padding: 0 6px;}
.header h1 span{margin-left: 10px;padding-left: 10px;}
.header h1 a{width: 100px;}
.header h1 span{line-height: 26px;}
.header h1{padding-top: 16px;}
.menu{width: 50px;}
.nav li>a{padding: 0 2px;}
}
@media only screen and (max-width:1024px) {
.header_in{padding-left: 3%;}
.nav{display: none;}
.header, .height_height, .menu{height: 50px;line-height: 50px;}
.header h1{padding-top: 6px;}
.nav_phone_btn span{top:18px;width: 32px;}
.nav_phone_btn span:before{width: 26px;}
.nav_phone_btn span:after{width: 28px;}

}
@media only screen and (max-width:767px) {
.header_login{display: none;}
}
@media only screen and (max-width:360px) {
.language{    padding: 0 14px;margin: 0;}
.header h1 span{padding-left: 6px;margin-left: 6px;font-size: 12px;line-height: 24px;}
.header h1 a{width: 90px;}
}


.footer{background: #404143;padding: 60px 0 80px 0;}
.footer,.footer a{color: #8b8b8b;}
.footer_t{overflow: hidden;margin-bottom: 20px;}
.footer_t .f_le{float: left;}
.footer_t .f_le ul{overflow: hidden;}
.footer_t .f_le li{float: left;margin-right: 70px;}
.footer_t .f_le dt a{color: #e1e1e1;}
.footer_t .f_le dt{line-height: 24px;margin-bottom: 10px;}
.footer_t .f_le dd{line-height: 36px;}
.footer_t .f_le li:last-child{margin-right: 0;}
.footer_t .f_re{color: #a0a0a0;float: right;}
.footer_t .f_re ul{overflow: hidden;}
.footer_t .f_re li{float: left;margin-left: 20px;text-align: center;}
.footer_t .f_re li dt img{width: 109px;}
.footer_t .f_re li dt{margin-bottom: 10px;}
.footer_t .f_re li dd{ height:3em;}

.footer_c{line-height: 30px;border-bottom: 1px solid #c5c6c6;padding-bottom: 30px;margin-bottom: 20px;}
.footer_c span{font-family: SourceHanSansCN-Medium;}
.footer_c i{font-family: "Arial";font-style: italic;}
.footer_c,.footer_c a{color: #fff;}

.footer_b{overflow: hidden;line-height: 24px;}
.footer_b .f_le{float: left;}
.footer_b .f_le a{float: left;color: #fff;padding-right: 15px;margin-right: 15px;background: url(../images/footer_line.jpg) no-repeat center right;}
.footer_b .f_le a:last-child{border: 0;margin-right: 0;padding-right: 0;background: none;}
.footer_b .f_re{float: right;}
.bah_01{margin-left: 10px;}
@media only screen and (max-width:1660px) {
	.footer_t .f_le li{margin-right:60px;}
}
@media only screen and (max-width:1440px) {
.footer{padding: 50px 0 30px 0;}
.footer_t .f_le li{margin-right:50px;}
.footer_t .f_le dd{line-height: 30px;}
}

@media only screen and (max-width:1366px) {
.footer_t .f_le li{margin-right: 40px;}
.footer_c{padding-bottom: 20px;}
}
@media only screen and (max-width:1320px) {
  .footer_t .f_le li{margin-right: 30px;}
}
@media only screen and (max-width:1260px) {
.footer_t .f_le dd{font-size: 14px;line-height: 24px;}
.footer_t .f_le li{margin-right: 20px;}
}
@media only screen and (max-width:1150px) {
.footer_t .f_re{float: none;text-align: center;margin-bottom:10px;}
.footer_t .f_re li{margin: 0;float: none;display: inline-block;}
.footer_t .f_re li dl{padding: 0 10px;}
.footer_t .f_le{float: none;}
.footer_t .f_le li{float: none;margin: 0;border-bottom: 1px solid rgba(255,255,255,0.2);padding: 10px 0;}
.footer_t .f_le dd{overflow: hidden;}
.footer_t .f_le dd p{margin-right: 20px;float: left;display: inherit;}
.footer_t .f_le dt{margin-bottom: 5px;}
.footer_b .f_le,.footer_b .f_re{float: none;width: 100%;overflow: hidden;}
.footer_b .f_le{margin-bottom: 10px;}
}
@media only screen and (max-width:767px) {
.footer{padding: 20px 0;}
.footer_c{padding-bottom: 10px;margin-bottom: 10px;line-height: 24px;}
.bah_01,.bah_02{display: block;margin: 0;}
.footer_b .f_re{text-align: center;}
.footer_b .f_le{text-align: center;margin-bottom: 5px;}
.footer_b .f_le a{float: none;display: inline-block;}
}



/*list*/
.nav_list{
  transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;
  position: absolute;top:76px;left: 0;width: 100%;background: #fff;border-top: 3px solid #ca254d;line-height: 44px;height: 100vh;z-index: 999;
  -webkit-transform: translateY(-200px); -moz-transform: translateY(-200px);-o-transform: translateY(-200px);-ms-transform: translateY(-200px);transform: translateY(-200px);
  opacity: 0;visibility: hidden;

}
.wrap_in{position: relative;z-index: 2;    margin-top: 20px;}
.nav_bg01{position: absolute;top:0;left: 0;width: 525px;height: 100%;background: #eaeaea;}
.nav_bg02{position: absolute;top:0;left: 525px;width: 360px;height: 100%;background: #f5f5f5;}
.nav_list .li_01{width: 525px;padding-left: 195px;padding-right: 50px; box-sizing:border-box;}
.nav_list .li_01>.nav_block{position: absolute;left: 525px;top:0;width: 360px;display: none;}
.nav_list .li_02>.nav_block{position: absolute;left: 360px;top:0;width:400px; height: 100vh; overflow-y: auto; padding-bottom: 100px; display: none;padding-left: 70px;box-sizing: border-box;}
.nav_list .li_02:first-child>.nav_block{display: block;}
.nav_list .li_02{padding: 0 50px;}
.nav_list .li_02>.nav_block .img,.nav_list .li_02>.nav_block .img img{width:100%;}
.nav_list h3{position: relative;}
.nav_list h3 a{display: block;}
.nav_list h3 span{position: absolute;top:0;right: 0;height: 100%;    width: 30px;}
.nav_p {line-height: 36px;}
.nav_p a{color: #9c9c9c;}
.nav_p a sup{position:relative;/*top: -12px*/}
.nav_block h4 {color: #000;font-weight: bold;margin-bottom: 4px;}
.nav_block h4 a i{margin-left: 20px;}
.nav_list .li_01.on>h3 a{color: #ca254d;}
.nav_list .li_01.on .nav_block li.on h3:first-child a{color: #ca254d;}
.nav_list .li_01.on>.nav_block{display: block;}

.navbody .nav_list{visibility: visible;opacity: 1;
  -webkit-transform: translateY(0px); -moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);
}

.return_a{display: none;cursor: pointer;border-bottom: 1px solid #eee;margin-bottom: 10px;padding: 0 20px;}
.return_a a{display: inline-block;color: #9c9c9c;}
.li_01>.nav_block>.return_a{margin-bottom: 0;}
.nav_list .header_login{display: none;}
@media only screen and (max-width:1440px) {
.nav_list .li_01{padding-left: 100px;}
.nav_list .li_01,.nav_bg01{width:400px}
.nav_bg02{left: 400px}
.nav_list .li_01>.nav_block{left: 400px;}
.nav_list .li_02>.nav_block{padding-left: 50px;}
}
@media only screen and (max-width:1366px) {
.nav_list .li_01{padding-left: 50px;padding-right: 30px;}
.nav_list .li_01,.nav_bg01{width:350px}
.nav_bg02{left: 350px;width: 340px;}
.nav_list .li_01>.nav_block{left: 350px;width: 340px;}
.nav_list .li_02>.nav_block{left: 340px; padding-left: 30px;}
.nav_list .li_02{padding: 0 30px;}
.nav_p{font-size: 14px;line-height: 30px;}
.nav_block h4{margin-bottom: 7px;}
}
@media only screen and (max-width:1024px) {
.wrap_in{margin-top: 10px;}
.nav_list{top:50px;}
.nav_bg01,.nav_bg02{display: none;}
.nav_list .li_01{width: 100%;}
.nav_list .li_01>.nav_block{left: auto;right: -100%; width: 100%;height: 100%; background: #fff;position: fixed;display: block;    z-index: 9;}
.nav_list .li_02>.nav_block{left: auto;right: -100%;width: 100%;height: 100%; background: #fff;position: fixed;    z-index: 91;}
.nav_list .li_01>.nav_block,.nav_list .li_02>.nav_block{transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;padding: 0; padding-top: 10px;box-sizing:border-box;}

.nav_list .li_02>.nav_block{padding-top: 10px;}
.nav_list .li_02>.nav_block h4,.nav_list .li_02>.nav_block .nav_p{padding: 0 20px;}

.nav_list .li_01,.nav_list .li_02{padding: 0 20px;    padding-right: 10px;}
.nav_list .li_01.on>.nav_block{right:0;}
.nav_list .li_02.on>.nav_block{right:0;}

.nav_block h4{line-height: 30px;margin-bottom: 0;}
.return_a{display: block;}
.nav_list li{    border-bottom: 1px solid #eee;}
.nav_list .li_02>.nav_block{display: block;}

.nav_list .header_login{display: block;overflow: hidden;padding: 0 20px;border-bottom: 1px solid #eee;}
.login_div02 .person_name{max-width: calc(100% - 60px)}

}


.site_nav{position: fixed;right: 0;bottom: 50px;width:60px;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;z-index: 99;}
.site_nav li{width: 100%;height: 60px;line-height: 60px;position: relative;background: #5d5d5c;border-bottom: 1px solid #7f7f7f;}
.site_icon{text-align: center;vertical-align: middle;position: relative;width: 100%;height: 100%;}
.site_icon img{transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%); position:absolute; left:50%; top:50%;width: 32px;} 
.site_nav li:last-child{border:0;background: #303133;}

.site_p{position: absolute;top:0;right: -100%;opacity: 0;visibility:hidden;  height: 100%;background: #c7103c;width: 180px;color: #fff;overflow: hidden;padding-left: 20px;color: #fff;
transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
.site_p span{float: left;margin-right: 25px;}
.site_p span img{width: 32px;margin-top: 12px}
.site_p em{float: left;}
.site_p a{color: #fff;}

.site_btn i{cursor: pointer; position: absolute;top:-25px;right:0px; background: #c7103c;color: #fff;width: 24px;height: 24px;line-height: 24px;text-align: center; display: block;border-radius: 50%;}
.site_btn span{display: block; background: #c7103c;color: #fff;width: 30px;height: 30px;line-height: 30px;text-align: center;position: absolute;top:50%;left: -30px;border-radius: 5px 0 0 5px;visibility: hidden;opacity: 0;cursor: pointer;}

.site_nav.cur{right: -60px;}
.site_nav.cur .site_btn span{visibility: visible;opacity: 1;}

@media only screen and (max-width:1440px) {
.site_icon img,.site_p span img{width: 28px;}
.site_p span{margin-right: 15px;}
.site_p{width: 145px;}
.site_nav{width: 50px;}
.site_nav li{height: 50px;line-height: 50px}
.site_p span img{margin-top: 10px;}
.site_p em{font-size: 16px;}
.site_nav.cur{right: -50px;}

}

@media only screen and (max-width:1024px) {
.site_nav{right: -50px;}
.site_btn span{visibility: visible;opacity: 1;}
.site_nav.cur02{right: 0;}
.site_nav.cur02 .site_btn span{visibility:hidden;opacity: 0;}

}


@media only screen and (min-width:1025px) {
a,.search_box button{transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
a:hover{color: #e8390d !important;}
.search_box button:hover{color: #e8390d ;}
.tran_scale:hover img{transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);}
.tran_scale02:hover img{transform:scale(0.9,0.9); -webkit-transform:scale(0.9,0.9);-moz-transform:scale(0.9,0.9);-o-transform:scale(0.9,0.9);-ms-transform:scale(0.9,0.9);}
.footer_c a:hover{color: #fff !important;cursor:default;}
.nav li:hover>a{color:#fff!important; background: #D8000B;}
.site_nav li:hover .site_p{right: 0;visibility: visible;opacity: 1;}
.site_p a:hover{color: #fff !important;opacity: 0.8;}
}







/*page*/
.pageout{text-align: center;padding-bottom: 5px;    clear: both;}
.page{display:inline-block;*display:inline;*zoom:1;}
.page {vertical-align:middle;text-align:center;margin: 0 auto;padding-top: 50px; color:#7a8087; height:28px; line-height:28px; }
.page span{color:#7a8087; float: left;font-weight: bold; }
.page span em{color: #c60937;margin-left: 5px;}
.page .span01{margin-right: 5px;}
.page .span02{margin-left: 5px;}
.page i{ float: left; margin: 0 20px;}
.page a{float: left; width:28px;font-weight: bold; background: #ffffff; margin: 0 10px;}
.page a.on{background:#c60937;color:#fff;}
.page a.prev {background:url(../images/page_prev_on.png) center center no-repeat; text-indent:-10000px; margin-right: 5px;}
.page a.next {background:url(../images/page_next_on.png) center center no-repeat; text-indent:-10000px;}
.page a.first,.page a.first.last{color:#7a8087;}


.page a.next{margin:0 6px;}
.page .go{ width: 33px; background: #c60937; color: #fff; text-align: center;cursor: pointer; height: 28px; line-height: 28px;}
.page .go:hover{color: #fff !important;}
.page a.on:hover{color: #fff !important;}
.page .txtnum{margin:0  20px;margin-left: 30px;}
.page .txtnum input{color:#333; width:62px;height:28px; line-height:28px; padding: 0 5px; text-align:left;background:none;border: 2px solid #7a8087;box-sizing:border-box; }

@media only screen and (max-width:1280px) {
.page .txtnum{margin: 0 15px;}
.page a{margin: 0 5px;}
}
@media only screen and (max-width:1024px) {
.page{padding-top: 20px;}

}
@media only screen and (max-width:767px) {
.page a{display:none; font-weight: normal;}
.page a.prev,.page a.next{display:block; display:inline-block;    border: 1px solid #7a8087;}
.page i{margin:0 4px;}
.page .span01{display: none;}
.page .txtnum{margin: 0 8px;}
.page .txtnum input{width: 50px;border-width: 1px;}
}

/*page*/


/*20210623修改导航下拉样式*/
.nav_list{ height: 75vh; background: url(../images/nav_listbg.jpg) no-repeat; background-size: 100% 100%;}
.nav_list .li_02>.nav_block{ height:68vh; padding-bottom: 0;}
.nav_bg01{ background: rgba(151,178,215,0.5);}
.nav_bg02{ background: none;}
.nav_bg03{position: absolute;top:0;left: 885px; width:calc(100% - 885px);height: 100%;background: rgba(255,255,255,0.5);}

.nav_list h3 span{width:40px;}
.nav_list .li_01{padding-right: 0;}
.nav_list .li_02{padding-left:40px; padding-right: 0;}
.nav_list .li_01>h3,.nav_list .li_02>h3{/*line-height: 58px;*/}
.nav_list .li_01>h3 a{padding-left: 95px;color:#fff; border-bottom:3px solid transparent;}
.nav_list .li_01.on>h3 a{border-bottom:3px solid #C10024;}
.nav_list .li_01:nth-child(1)>h3{ background: url(../images/nav_ico01.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(1).on>h3{background: url(../images/nav_ico01_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(2)>h3{ background: url(../images/nav_ico02.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(2).on>h3{background: url(../images/nav_ico02_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(3)>h3{ background: url(../images/nav_ico03.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(3).on>h3{background: url(../images/nav_ico03_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(4)>h3{ background: url(../images/nav_ico04.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(4).on>h3{background: url(../images/nav_ico04_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(5)>h3{ background: url(../images/nav_ico05.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(5).on>h3{background: url(../images/nav_ico05_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(6)>h3{ background: url(../images/nav_ico06.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(6).on>h3{background: url(../images/nav_ico06_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(7)>h3{ background: url(../images/nav_ico07.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(7).on>h3{background: url(../images/nav_ico07_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_01:nth-child(8)>h3{ background: url(../images/nav_ico08.png) 35px center no-repeat;}
.nav_list .li_01:nth-child(8).on>h3{background: url(../images/nav_ico08_on.png) 35px center no-repeat rgba(255,255,255,0.5);}
.nav_list .li_02>h3{padding-left: 55px; border-bottom:3px solid transparent;}
.nav_list .li_02.on>h3{border-bottom:3px solid #C10024;background: rgba(255,255,255,0.5);}
.nav_list .li_02.on>h3 a{color:#B30D39;}
@media only screen and (max-width:1440px) {
  .nav_bg03{left: 760px;width:calc(100% - 760px);}
  .nav_list{height: 85vh;}
  .nav_list .li_02>.nav_block{height: 78vh;}
}
@media only screen and (max-width:1366px) {
  .nav_bg03{left: 690px;width:calc(100% - 690px);}
  .nav_list{height: 100vh;}
  .nav_list .li_02>.nav_block{height: 100vh;}
}
@media only screen and (max-width:1024px) {
.nav_bg03{ display: none;}
.nav_bg01{ display: block; width:100%;}
.nav_list .li_01>h3{ background-position: 10px center!important;}
.nav_list .li_01>h3 a{padding-left: 50px;}
.nav_list .li_02{padding-left: 20px;}
.nav_list .li_02>h3{padding-left: 0;}
}
/*20210623修改导航下拉样式end*/


 /*20210709修改右侧图标*/
.site_icon i{font-size:26px; color:#CCCCCC;}
.site_p span i{font-size:26px; color:#fff;}
/*20210709修改右侧图标end*/



/*20210916修改首页搜索框*/
.nav_list .search_box{ display: none;}
.head_search{margin-left:20px; cursor: pointer;}
.head_search i{font-size: 20px;}
@media only screen and (max-width:767px) {
  .head_search{ display: none;}
  .nav_list .search_box{ display: block;}
}
/*20210916修改首页搜索框*/



/*20210918修改公共导航效果*/
.header_re>div.menu{ display: none;}
.navlist{display:none;border-top: 3px solid #ca254d;height:calc(100vh - 76px); z-index: 999;top:76px;background: #fff; box-shadow: 0 8px 8px 5px rgba(0,0,0,0.15);}
/*其他栏目下拉*/
.comm_li{ position: relative;}
.comm_navlist{line-height:36px;width:100%; position: absolute; left:0; top:76px; height: auto;}
.comm_menu{text-align: center; padding:10px 0; }
.comm_menu dd{font-size: 16px;}

/*产品栏目下拉*/
.pro_ser_menu{line-height: 30px; height: 100%;}
.pro_ser_menu .ll{width:calc(100% - 10px); height: 100%;/*overflow-y: auto;*/position: relative;}
.pro_ser_menu .ll .line01{ position: absolute; left:320px; top:0; width:1px; height: 100vh; background: #D2D2D2;}
.pro_ser_menu .ll .line02{ display: none; position: absolute; left:595px;top:0; width:1px; height: 100vh; background: #D2D2D2;}
.pro_ser_menu .ll .line03{ display: none; position: absolute; left:665px;top:0; width:1px; height: 100vh; background: #D2D2D2;}
.pro_ser_menu .ll .line_rr{position: absolute; right:calc(26% + 20px);top:0; width:1px; height: 100vh; background: #D2D2D2;}
.pro_ser_menu .ll .pitemlist{width:100%;}
.pro_ser_menu .ll .pli_01{ width:100%;}
.pro_ser_menu .ll .pli_01 h3{width:calc(320px - 6px);border-bottom:1px solid #D2D2D2; margin: 0 3px; height: 60px; line-height: 60px; position: relative;}
.pro_ser_menu .ll .pli_01 h3 a{ display: block; font-size: 16px;color:#262D3D; padding-left: 15%;}
.pro_ser_menu .ll .pli_01 h3 a em{ float: left; margin-top:10px; width:48px; height: 40px; max-height: 48px; margin-right:4%;}
.pro_ser_menu .ll .pli_01:first-child h3 a em{margin-top:12px;}
.pro_ser_menu .ll .pli_01:nth-of-type(8) h3 a em{margin-top:6px;}
.pro_ser_menu .ll .pli_01 h3 a em>img{max-width: 100%;filter: grayscale(100%);filter: gray;opacity:0.7;}
.pro_ser_menu .ll .pli_01 h3 span{ position: absolute; right:0; top:0; font-size:18px; width:40px; text-align: center; height: 40px; line-height: 40px;}
.pro_ser_menu .ll .pli_01 h3::after{opacity: 0; content: ""; position: absolute; left:12%; right:5%; bottom:-2px; width:83%; height:3px; background: #B3121F;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
.pro_ser_menu .ll .pli_01 h3:hover::after,.pro_ser_menu .ll .pli_01.on h3::after{ opacity: 1;}
.pro_ser_menu .ll .pli_01 h3:hover a,.pro_ser_menu .ll .pli_01.on h3 a{color:#D5000F!important;}
.pro_ser_menu .ll .pli_01 h3:hover a em>img,.pro_ser_menu .ll .pli_01.on h3 a em>img{filter: grayscale(0);filter: gray;opacity:1;}

.pro_ser_menu .ll .pli_01>.pitem_block{ display: none; position: absolute; z-index: 10; left:340px; top:0; width:calc(74% - 360px);}
.pro_ser_menu .ll .pli_01.on>.pitem_block{ display: block;}

.pro_ser_menu .ll .pli_02{width:100%; margin-bottom: 20px;}
.pro_ser_menu .ll .pli_02 h4{border-bottom:1px solid #E6E6E6; height: 60px; line-height: 60px; position: relative;}
.pro_ser_menu .ll .pli_02 h4 a{ display:block; font-size: 16px;color:#262D3D!important;}
.pro_ser_menu .ll .pli_02 h4 span{ display: none; position: absolute;right:15%; top:0; font-size: 18px;color:#262D3D;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
/*.pro_ser_menu .ll .pli_02 h4:hover a,.pro_ser_menu .ll .pli_02 h4:hover span,.pro_ser_menu .ll .pli_02.on h4 a,.pro_ser_menu .ll .pli_02.on h4 span{color:#D5000F!important;}*/

.pro_ser_menu .ll .pli_03{ float: left; width:50%; margin:15px 0 10px;}
.pro_ser_menu .ll .pli_03 h5 a{display:block; font-size: 16px;color:#262D3D;}
.pro_ser_menu .ll .pli_03 h5{padding-left: 15px; position: relative;}
.pro_ser_menu .ll .pli_03 h5::after{content: ""; position: absolute; left:0; top:50%; margin-top:-4px; width:8px; height: 8px; border-radius: 100%; background: #000;}
.pro_ser_menu .ll .pli_03 p{ padding-left: 15px; line-height: 1.2;height:2.4em; overflow:hidden; color:#9A9DA7;}
.pro_ser_menu .ll .pli_03:hover h5 a,.pro_ser_menu .ll .pli_03.on h5 a{color:#D5000F!important;}

.pro_ser_menu .rr{width:26%;padding-left:20px; position: absolute; top:0; right:0; z-index: 100;}
.pro_ser_menu .rr .pimglist{width:70%;}
.pro_ser_menu .rr .pimglist li{ display: none; width:100%;}
.pro_ser_menu .rr .pimglist li.on{ display: block;}
.pro_ser_menu .rr dl{ width:100%; padding-top: 15px; font-size: 16px;}
.pro_ser_menu .rr dl dt{margin-bottom:15px;}
.pro_ser_menu .rr dl dd .swiper-container{padding-bottom:30px; position: relative;}
.pro_ser_menu .rr dl dd img{width:100%;}
.pro_ser_menu .rr dl dd p{margin-top:30px; line-height: 1.3;color:#A7AAB3; font-size: 14px;}
.pro_ser_menu .rr dl dd .swiper-pagination{bottom:0px;}
.pro_ser_menu .rr dl dd .swiper-pagination span{ display: inline-block; background: #000;}
.pro_ser_menu .rr dl dd .swiper-pagination span.swiper-pagination-bullet-active{}



/*产品栏目的安全服务下拉*/
.pro_menu_safe .rr,.pro_menu_safe .line_rr{ display: none;}
.pro_menu_safe .ll .pli_01>.pitem_block{width:calc(100% - 420px);}
.pro_menu_safe .ll .pli_02 h4 span{right:5px;}
.pro_menu_safe .ll .pli_02>.pitem_block{width:20%;position: relative;}
.pro_menu_safe .ll .pli_02>.pitem_block::before{content: ""; position: absolute; right:0; top:5%; width:1px; height: 90%; background: #EAEAEA;}
.pro_menu_safe .ll .pli_03{margin:0; width:100%; height:56px; line-height: 56px;}
.pro_menu_safe .ll .pli_03 h5{position: relative;}
.pro_menu_safe .ll .pli_03 h5 a{display:block; font-size: 16px;color:#262D3D;}
.pro_menu_safe .ll .pli_03 h5 span{display: block; position: absolute;right:10px; top:0; font-size: 18px;color:#262D3D;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
.pro_menu_safe .ll .pli_03 h5:hover a,.pro_menu_safe .ll .pli_03 h5:hover span,.pro_menu_safe .ll .pli_03.on h5 a,.pro_menu_safe .ll .pli_03.on h5 span{color:#D5000F!important;}
.pro_menu_safe .ll .pli_03>.pitem_block{ display: none; position: absolute;z-index:30; left:100%; top:0; width:400%;}
.pro_menu_safe .ll .pli_03.on>.pitem_block{ display: block;}
.pro_menu_safe .ll .pli_03 ul{padding:18px 0px;}
.pro_menu_safe .ll .pli_03 li{ float: left; width:calc(25% - 20px); padding:0 10px; position: relative;}
.pro_menu_safe .ll .pli_03 li::after{content: ""; position: absolute;right:0px; top:0; width:1px; height: 100%; min-height:250px; background: #D2D2D2;}
.pro_menu_safe .ll .pli_03 li:last-child::after{display: none;}
.pro_menu_safe .ll .pli_03 li h6{ text-align: center; height: 22px; line-height: 22px; margin-bottom: 20px; background: #D9000F; /*background:url(../images/promenu_bg.png) no-repeat; background-size: contain;*/}
.pro_menu_safe .ll .pli_03 li h6 a{color:#fff;}
.pro_menu_safe .ll .pli_03 li p{ line-height: 20px; margin-bottom: 15px; background: url(../images/promenu_dot.png) 8px 8px no-repeat;}
.pro_menu_safe .ll .pli_03 li p a{ display: block;color:#262D3D;}
/*安全服务下拉的特色服务样式*/
.pro_menu_safe .ll .pli_02>.pitem_block_an{width:calc(100% - 300px); margin-top:0;}
.pro_menu_safe .ll .pli_02>.pitem_block_an::before{display: none;}
.pro_menu_safe .ll .pli_02>.pitem_block_an .pli_03{width:50%; height: auto; margin:15px 0 10px; line-height: 1.5;}
.pro_menu_safe .ll .pli_02>.pitem_block_an .pli_03 h5{padding-left:15px;}
.pro_menu_an .rr,.pro_menu_an .line_rr{ display: block;}
.pro_menu_an .ll .line03{ display: none;}

/*合作伙伴下拉样式*/
.parn_menu{line-height: 30px; height: 100%;position: relative;}
.parn_menu .ll{width:calc(85% - 150px); height: 100%; overflow: hidden; overflow-y: auto; padding: 0 2% 0 5%;}
.parn_menu .ll ul{margin:0 -1.5% 40px; display: flex;flex-wrap:wrap;}
.parn_menu .ll li{ float: left; width:30.33%; margin:20px 1.5% 0;}
.parn_menu .ll li .ptt{ height: 40px; line-height: 40px;}
.parn_menu .ll li .ptt .pico{ float: left;width:60px; margin-right: 20px; position: relative; height: 40px; line-height: 40px;border-top:1px solid #DEDEDE; border-bottom:3px solid #DC1D27;}
.parn_menu .ll li .ptt .pico img{max-width: 100%;}
.parn_menu .ll li .ptt .ptit{ float: right; font-size: 18px; width:calc(100% - 80px);height: 40px; line-height: 40px;border-top:1px solid #DEDEDE; border-bottom:3px solid #DC1D27;}
.parn_menu .ll li .pmm .links{ height: 9em; overflow-y: auto; margin:10px 0;margin-left:80px;}
.parn_menu .ll li .pmm .links p{ width:100%;line-height: 1.8;}
/*.parn_menu .ll li .pmm .links p:nth-of-type(n+6){opacity: 0; height: 0;}
.parn_menu .ll li .pmm .links.on p:nth-of-type(n+6){ opacity: 1; height: 1.8em;}*/
.parn_menu .ll li .pbb{ display: none; cursor: pointer; height:24px; line-height: 24px; text-align: center; background: #D7D8DC;}
.parn_menu .ll li .pbb i{color:#D80713; font-size: 16px;}


.parn_menu .rr{ position: absolute; right:5%; top:246px; width:150px; text-align: center; /*top:50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-o-transform: translate(0,-50%);*/}
.parn_menu .rr dd{text-align: center;}
.parn_menu .rr dd:first-child{margin-bottom: 10%;}
.parn_menu .rr dd em{ display: block;width:74px; height: 74px; margin:0 auto 20px; overflow:hidden;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
.parn_menu .rr dd a{ display: block; width:150px; height: 40px; line-height: 40px;margin-bottom: 20px; font-size: 18px; color:#D8000B; border:1px solid #E7696F; background: #fff;}
.parn_menu .rr dd a:hover{color:#fff!important; background: #D8000B;}

.parn_menu .rr dd:hover em{ background:url(../images/parn_menu_r01_on.png) no-repeat; opacity:0.6;}
.parn_menu .rr dd:hover em img{ display:none;}
.parn_menu .rr dd+dd:hover em{ background:url(../images/parn_menu_r02_on.png) no-repeat;opacity:0.6;}
.parn_menu .rr dd+dd:hover em img{ display:none;}


@media only screen and (max-width:1600px) {
.pro_ser_menu .rr{ width:20%;}
.pro_ser_menu .ll .pli_01>.pitem_block{width:calc(80% - 360px);}
.pro_menu_safe .ll .pli_01>.pitem_block{width:calc(100% - 360px);}
.pro_ser_menu .rr .pimglist{width:90%;}
.pro_ser_menu .ll .line_rr{right:calc(20% + 20px);}


.pro_ser_menu .ll .pli_01 h3,.pro_ser_menu .ll .pli_02 h4{ height: 48px; line-height: 48px;}
.pro_ser_menu .ll .pli_01 h3 a em{width:36px; height: 30px; max-height: 36px; margin-top:9px;}
.pro_ser_menu .ll .pli_01:first-child h3 a em{ margin-top:9px;}
.pro_ser_menu .ll .pli_03{margin-top:10px; margin-bottom: 0;}
.pro_menu_safe .ll .pli_03{ height: 40px; line-height: 40px;}
.pro_menu_safe .ll .pli_03 li::after{ min-height: 220px;}
}
@media only screen and (max-width:1399px) {
  .pro_ser_menu .ll{ overflow-y:auto;}
  .comm_li .navlist{ height: auto;}
}

@media only screen and (max-width:1279px) {
  .pro_ser_menu .rr,.pro_ser_menu .ll .line_rr{ display: none;}
  .pro_ser_menu .ll .pli_01>.pitem_block{width:calc(100% - 360px);}
}
@media only screen and (max-width:1024px) {
  .header_re>div.menu,.nav span{ display: block;}
  
  .nav{display:block; background: #fff;border-top:2px solid #900; position: fixed; z-index: 1000; margin-top:0; top:50px;bottom: 0px;padding:0; right:-100%;height:calc(100vh - 50px);width:100%;left:auto;transition:left 0ms ease-out;-webkit-transition:left 0ms ease-out;transition:right 250ms ease-out;-webkit-transition:right 250ms ease-out; overflow: hidden; overflow-y: auto;}
  .navbody .nav{right:0; left:auto;}
  .nav ul{width: 100%;}
  .nav ul>li{line-height: 40px; width: 100%;float: none;border-bottom: 1px solid#efefef; overflow: hidden;}
  .nav ul>li.on a{color:#000!important; background:none;}
  .nav ul>li>a{ float: left; height: 40px; line-height: 40px;padding:0 15px; text-align: left; width: calc(100% - 70px); overflow: hidden;}
  .nav ul>li>span{ float: right;width: 40px; height: 40px; text-align: center; font-size: 30px;}

  .navlist{display:block; max-width: 100%; width:100%!important; box-shadow: none; border-top:none; top:0; height: 100%; left:100%; transform: translate(0,0); -webkit-transform: translate(0,0);-ms-transform: translate(0,0);-moz-transform: translate(0,0);-o-transform: translate(0,0);transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
  .comm_navlist{margin-left:0; line-height: 40px;}
  .nav ul>li.on .navlist{left:0;}
  .pro_ser_menu .ll .line01,.pro_ser_menu .ll .line02,.pro_ser_menu .ll .line03,.pro_ser_menu .ll .line_rr{ display: none;}
  .pro_ser_menu .ll{overflow-x: hidden;overflow-y:auto; height: 100vh; /* background: #900;*/}
  .pro_ser_menu .ll .pitemlist{ height: 100%;}
  .pro_ser_menu .ll .pli_01 h3{width:100%;margin:0; line-height: 40px; height: 40px;border-bottom:none;}
  .pro_ser_menu .ll .pli_01 h3::after{ display: none;}
  .pro_ser_menu .ll .pli_01 h3 a{padding:0 60px 0 20px;font-size: 14px;}
  .pro_ser_menu .ll .pli_01 h3 a em{width:30px; height: 25px; margin-top:7px; max-height: 30px; margin-right: 10px;}
  .pro_ser_menu .ll .pli_01:first-child h3 a em{margin-top:8px;}
  .pro_ser_menu .ll .pli_01:nth-of-type(8) h3 a em{margin-top:4px;}
  .pro_ser_menu .ll .pli_01 h3 a em>img{filter: grayscale(0);filter: gray;opacity:1;}
  .pro_ser_menu .ll .pli_01>.pitem_block{ display: block; position: absolute; left:auto; right:-100%; width:100%; height: 100%; background: #fff; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
  .pro_ser_menu .ll .pli_01.on>.pitem_block{right:0;}
  .pro_ser_menu .ll .pli_01>.pitem_block_hasone ul{padding:0 20px;}
  .pro_ser_menu .ll .pli_02 h4{padding-left: 0; width:100%;line-height: 40px; height: 40px;}
  .pro_ser_menu .ll .pli_02 h4 a{padding:0 60px 0 20px;font-size: 14px;}
  .pro_ser_menu .ll .pli_02 h4 span{right:0; width:40px; height: 40px; text-align: center; font-size: 18px;}
  .pro_ser_menu .ll .pli_02>.pitem_block{ padding:0 20px; /*display: block; position: absolute;left:auto; right:-100%; width:100%; height: 100%; background: #fff; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;*/}
  .pro_ser_menu .ll .pli_02.on>.pitem_block{right:0;}
  .pro_ser_menu .ll .pli_03{margin:0; padding:0 0 10px;}
  .pro_ser_menu .ll .pli_01_safe .pli_03{padding: 0; width:100%;}
  .pro_ser_menu .ll .pli_03 h5{position: relative;}
  .pro_ser_menu .ll .pli_03 p{padding:0 20px;}
  .pro_ser_menu .ll .pli_03 h5 a{padding:0 60px 0 5px;font-size: 14px;}
  .pro_ser_menu .ll .pli_03 h5 span{ display: block; position:absolute;top:0;right:0; width:40px; height: 40px; text-align: center; font-size: 18px;}
  .pro_ser_menu .ll .pli_03>.pitem_block{ display: block; position: absolute; z-index: 40; top:0; left:auto; right:-100%; width:100%; height: 100%; background: #fff; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}
  .pro_ser_menu .ll .pli_03.on>.pitem_block{right:0;}
  .pro_ser_menu .ll .pli_03 li h6{ padding:0 20px;}
  .pro_ser_menu .ll .pli_03 li p{ line-height: 20px; margin-bottom: 10px; background: url(../images/promenu_dot.png) 20px 8px no-repeat;}
  .pro_ser_menu .ll .pli_03 li p a{ display: block; padding-left:10px;color:#262D3D;}
  .pro_ser_menu .ll .pli_03:hover h5 a, .pro_ser_menu .ll .pli_03.on h5 a{color:#262D3D!important;}
  .pro_ser_menu .ll .pitem_block_an .pli_03{padding-bottom: 10px;}


  .comm_li{position: static;}
  .comm_menu{padding:0; text-align: left;}  
  .comm_menu dl{padding:0;}
  .comm_menu dd{font-size: 14px;padding:0 20px; border-bottom:1px solid #efefef;}

  .parn_menu .ll{width:100%; padding:0;}
  .parn_menu .rr{ width:100%; position: static; left:0; top:0; right:auto;transform: translate(0,0); -webkit-transform: translate(0,0);-ms-transform: translate(0,0);-moz-transform: translate(0,0);-o-transform: translate(0,0);}
  .parn_menu .ll ul{margin:0;}
  .parn_menu .ll li{width:calc(100% - 40px); margin:0 0 10px; padding:0 20px 10px;}
  .parn_menu .ll li .ptt .pico{width:40px; margin-right: 5px;}
  .parn_menu .ll li .ptt .ptit{width:calc(100% - 50px); font-size:14px;}
  .parn_menu .ll li .pmm .links{margin-left:50px;}
}

@media only screen and (max-width:767px) {
.pro_ser_menu .ll .pli_03{width:100%;}
}
/*20210918修改公共导航效果end*/


/*解决mac导航滚动条隐藏*/
::-webkit-scrollbar{ widtH:10px; height: 10px;}
::-webkit-scrollbar-thumb{border-radius: 1em; background: rgba(50,50,50,0.1);}
::-webkit-scrollbar-track{border-radius: 1em;background: rgba(50,50,50,0.1);}

.back_top{ display: none;position:fixed; right:20px; bottom:20px; width:40px; height:36px; padding-top:4px; text-align:center; background:#000;transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;}


/*20220111首页新增*/
.vbtn{color:#fff; widtH:80px; height: 80px; line-height: 80px;}
.vbtn i{ display: block;font-size: 80px; vertical-align: middle;}
.vbtn::before{opacity: 0; content: ""; position: absolute; lefT:-18px; top:-18px; animation: wave 2s ease-out infinite;background: rgba(255,255,255,0.5); border-radius: 100%;}
.vbtn:hover::before{ opacity: 1;}
@keyframes wave {
	50%, 75% {
	width:calc(100% + 36px); height:calc(100% + 36px);
    }
	90%, 100% {
	opacity: 0;
    }
}
.video_appbox{ position:fixed; width:100%; height:100%; top:0; left:0; z-index:9999999;opacity: 0;visibility: hidden;transition:all 0.6s;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;}
.video_appbox.show{visibility: visible;opacity:1;}
.video_appbox iframe{width:100%; height: 100%;}
.video_appbox video{object-fit: cover; width: 100%;}
.video_appbox .video_t{ z-index:2; background:#000;width: 1035px;max-width:94%;height: 60%;
 transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%); position:absolute; left:50%; top:60%;transition:all 0.6s;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;visibility: hidden;opacity: 0;}
.video_appbox.show .video_t{visibility: visible;opacity:1;top:50%;}
.video_appbox .mask{ position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
.lt9 .video_appbox .mask{filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#88000000", EndColorStr="#88000000");}
.vide0_close{ position:absolute; top:calc(20% - 30px); right:calc(50% - 517px); cursor:pointer; z-index: 99999;}
.vide0_close i{color: #fff;font-size:20px;font-weight: bold;}
/*20220110*/




/*20220328首页banner弹出视频固定尺寸*/
.ind_banner_appbox .video_t{widtH:800px; height: 450px;}
.ind_banner_appbox .vide0_close{ top:calc(50% - 255px); right:calc(50% - 400px); cursor:pointer; z-index: 99999;}
@media only screen and (max-width:767px) {
  .ind_banner_appbox .video_t{ widtH:368px; height: 276px;}
}