@charset "utf-8";

/* 标签重置 */
html{font-family:"microsoft yahei"} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

*{padding:0px;margin:0px;box-sizing: border-box;}
a{text-decoration:none;cursor:pointer;}
img{border:0;}
input,textarea{border:0;outline:0;margin:0;padding:0;display:block;resize:none;}
button{border:0;outline:none;padding:0;}
ul{padding:0;margin:0;}
li{list-style:none;}
p{margin:0;color:#333;font-size:16px;line-height:1;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;line-height:1;}
table{border-spacing:0;border-collapse:collapse;}
table th{font-weight:normal;}
select{outline:none;}

/* 公共标签 */
.clearfix:before,.clearfix:after {
  content:"";
  display:table;
}

.clearfix:after { clear:both; }
.clearfix {
  *zoom:1;/*IE/7/6*/
}

.fl {
  float:left
}

.fr {
  float:right
}

.al {
  text-align:left
}

.ac {
  text-align:center
}

.ar {
  text-align:right
}

.float-left{float:left;}
.float-right{float:right;}
.black{background:rgba(0,0,0,.3);width:100%;height:100%;position:fixed;top:0;left:0;display:none;}
.pub_overflow_hidden{overflow: hidden;}/* 添加到 body 上，隐藏滚动条禁止页面滑动 */
.pub_overflow_hidden *{clip-path: inherit !important;}/* clip-path 使得顶部导航无法显示 */
.hide{display:none;}
.hide_imp{display: none !important;}
.public_loading{position: fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index: 1000;}

.public_top{
  height:86px;display: flex;align-items: center;position: absolute;top:0;left:0;width:100%;z-index: 2;

  padding:0 0px;justify-content: space-between;width: 1200px;margin-left:50%;transform: translate(-50%,0);
}
.public_top .left{display: flex;}
.public_top .left-img{margin-right:26px;}
.public_top .left-img>img{width:176px;height:34px;}
.public_top ul{display: flex;}
.public_top ul li{margin-left:4px;}
.public_top ul a{padding:0 15px;line-height:30px;font-size:14px;color:#fff;border-radius: 15px;
  transition: background 0.2s;}
.public_top ul a:hover{background: rgba(255, 255, 255, 0.2);}
.public_top ul a.active{background: rgba(255, 255, 255, 0.2);}

.public_top .right{display: flex;}
.public_top .right-login{color:#fff;font-size:14px;padding:9px 15px;}
.public_top .right-login svg{margin-right:5px;position: relative;top: 1px;}
.public_top .right-us{color:#fff;font-size:14px;background-color: #0f61ff;border-radius: 50px;padding: 9px 15px;}
.right-wrap{display: none;}


@media ( max-width:790px ){
  .public_top ul{display: none;}
  .public_top .right{display: none;}
  .right-wrap{display: block;padding: 15px;position: relative;z-index: 10;cursor: pointer;}
  .right-line-wrap{position: relative;width: 24px;height: 16px;
    display: flex;flex-direction: column;justify-content: space-between;}
  .right-line{width: 100%;height: 2px;background: white;transition: transform 0.3s, opacity 0.3s;opacity: 1;}
  .right-wrap.active .right-line-top{transform: translateY(7px) rotate(-45deg);}
  .right-wrap.active .right-line-middle{opacity: 0;}
  .right-wrap.active .right-line-bottom{transform: translateY(-7px) rotate(45deg);}

  .public_menu{position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: #061123;padding-top: 70px;
    z-index: 2;display: flex;flex-direction: column;}
  .public_menu-bg{background: url("../../static/img/image/triangles.png");background-size: 50px;
    opacity: 0.07;position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
  .public_menu-main{margin-left: 0;flex: 1;position: relative;}
  .public_menu-main>ul{position: absolute;top: 0;right: 0;bottom: 0;left: 0;
    display: flex;flex-direction: column;justify-content: center;}
  .public_menu-main>ul>li{margin-top:6px;margin-bottom:6px;}
  .public_menu-main>ul>li>a{padding: 12px 15px 12px 40px;color: white;font-size: 42px;font-weight: bold;
    transition: background 0.2s;border-radius: 15px;}
  .public_menu-main>ul>li>a:hover,.public_menu-main>ul>li>a.active{background: rgba(255, 255, 255, 0.2);}
  .public_menu-btm{position: relative;padding: 15px;display: flex;flex-direction: column;right: 0;top: 0;}
  .public_menu-btm>a{text-align: center;font-size: 20px;padding: 20px;background-color: #fff;
    border-radius: 50px;margin-top: 12px;color: #106bff;font-weight: bold;}
  .public_menu-btm>a:nth-child(2){background-color: #106bff;color: #fff;}
}



/* max-width:1260px;margin-left:auto;margin-right:auto; */
.public_foot{background-color: #131c2b;}
.public_foot-top-box{position: relative;border-bottom: solid 1px #212d41;padding: 50px 30px;}
.public_foot-top-box-bg{position: absolute;top:0;left:0;width:100%;height:100%;
  background-image: url("../../static/img/image/dots.png");opacity: 0.1;background-size: 8px;}
.public_foot-top{max-width:1260px;margin-left:auto;margin-right:auto;position: relative;z-index: 1;display: flex;
  justify-content: space-between;align-items: center;}
.public_foot-top>.left{}
.public_foot-top>.left>h1{font-size: 24px;color:#fff;}
.public_foot-top>.left>p{color: #8695ae;font-size: 16px;margin: 10px auto;}
.public_foot-top>.right{min-width: 45%;max-width: 450px;}
.public_foot-top>.right>input{transition: border 0.3s, colors 0.3s;border: 2px solid rgba(255, 255, 255, 0.25);
  width: 100%;font-size: 16px;padding: 15px 20px 18px;line-height: 16px;background: #131c2b;color:#fff;
  border-radius: 50px;}
.public_foot-top>.right>input:focus {border-color: rgba(255, 255, 255, 0.4);}
.public_foot-nav{max-width:1260px;margin-left:auto;margin-right:auto;padding: 40px 30px 80px;
  display: flex;justify-content: space-between;}
.public_foot-nav>a{color: #8695ae;font-size: 16px;transition: color 250ms;}
.public_foot-nav>a:hover {color: #fff;}
.public_foot-us{max-width:1260px;margin-left:auto;margin-right:auto;padding: 0 30px 65px;
  display: flex;justify-content: space-between;border-bottom: solid 1px #212d41;}
.public_foot-us>.left{}
.public_foot-us>.left>h1{font-size: 32px;color:#fff;margin-bottom:20px;}
.public_foot-us>.left>a{position: relative;background: #106bff;padding: 18px 50px;border-radius: 40px;z-index: 1;
  overflow: hidden;display: table;}
.public_foot-us>.left>a>span{color: #ffffff;transition: color 250ms;font-weight: bold;font-size: 16px;
  position: relative;z-index: 2;} 
.public_foot-us>.left>a>.bg{position: absolute;background:#fff;bottom:0;left:0;width:100%;height:100%;z-index:1;
  transition: clip-path 300ms;clip-path: inset(100% 0% 0% 0%);border-radius: 40px;}
.public_foot-us>.left>a:hover span{color:#106bff;}
.public_foot-us>.left>a:hover .bg{clip-path: inset(0% 0% 0% 0%);}
.public_foot-btm{max-width:1260px;margin-left:auto;margin-right:auto;display: flex;justify-content: space-between;
  padding: 40px 30px;align-items: center;}
.public_foot-btm-ms{display: flex;align-items: center;}
.public_foot-btm-ms>.img{width:36px;height:24px;}
.public_foot-btm-ms>.img>img{width:100%;height:100%;}
.public_foot-btm-ms>p{margin-left: 12px;color: #535f75;}
.public_foot-btm-ms>a{margin-left: 12px;text-decoration: underline;color: #535f75;transition: color 250ms;}
.public_foot-btm-ms>a:hover{color:#fff;}
.public_foot-btm-cr{}
.public_foot-btm-cr>p{color: #535f75;}
@media ( max-width:790px ){
  .public_foot-top-box{padding:30px;}
  .public_foot-top>.left{width:100%;}
  .public_foot-top>.left>h1{font-size: 24px;text-align: center;}
  .public_foot-top>.left>p{line-height: 1.4;text-align: center;}
  .public_foot-top>.right{margin-top:25px;width:100%;}
  .public_foot-top{flex-direction:column;}

  .public_foot-nav{flex-direction: column;align-items: center;}
  .public_foot-nav>a:nth-child(2){margin-top: 30px;}

  .public_foot-us{justify-content: center;}
  .public_foot-us>.left{display: flex;flex-direction:column;align-items: center;}
  .public_foot-btm{justify-content: center;flex-direction:column;}
  .public_foot-btm-ms{flex-direction:column;margin-bottom:10px;}
  .public_foot-btm-ms>.img{margin-bottom:10px;}
  .public_foot-btm-ms>p{margin-left: 0px;}
}

/*
@media ( max-width:1100px ){
  
}

@media ( max-width:790px ){
  
}

@media ( max-width:1024px ){
  
}
*/

