.container{position: relative;margin: 0 auto;max-width: 1200px;padding: 0;}
.container-page{padding-left: 215px;}
.container-page .article-header{padding: 0 ;}
.container-page .content{margin-right: 0;padding: 20px;border: 1px solid #eaeaea;background-color: #fff;border-radius: 4px;min-height: 300px;}
.container-no-sidebar .content{margin-right: 0;padding: 15px 30px 20px;border: 1px solid #eaeaea;background-color: #fff;border-radius: 4px;}
.container-no-sidebar .article-content{margin-bottom: 50px;overflow: hidden;}
.pageside{position: absolute;top: 0;left: 0;width: 200px;}
/*.pagemenus{position: fixed;width: 200px;}*/
.pagemenu{list-style: none;margin: 0 0 15px;padding: 0; border: 1px solid #eaeaea;background-color: #fff;border-radius: 4px;overflow: hidden;}
.pagemenu li a{display: block;padding: 12px 20px;font-size: 16px;color: #999;border-bottom: 1px solid #eee;background-color: #fff;}
.pagemenu li a:hover{color: #666;}
.pagemenu li.active a{color: #fff;background-color: #45B6F7;margin: 0 -1px;}
.pagemenu li:last-child a{border-bottom: none;}
.pagemenu li .glyphicon {font-size: 14px;}

.pagemenu h4{margin: 0;}
.pagemenu h4 a{color: #666;background-color: #F9F9F9;padding-top: 15px;cursor: default;border-bottom-color: #e6e6e6;}
.article-header{margin-bottom: 20px;padding: 25px 0;border-bottom: 1px solid #eee;text-align: center;}
.article-title{margin-top: 0;font-size: 26px;line-height: 36px;}
.article-title a,
.article-title a:hover{color: #555;}

.article-content{font-size:15px;line-height:25px;word-wrap:break-word;}
.article-content img{margin: 5px 0; display:block;max-width:100%;height:auto}
.article-content h2, .article-content h3, .article-content h4£¬ .article-content h5{padding:10px 0;margin-bottom:18px;color: #555;font-weight:bold;}
.article-content h2{font-size:18px;font-weight:bold;margin:18px 0;border-bottom: 1px solid #eaeaea;}
.article-content h3{font-size:16px;}
.article-content h4{font-size:15px;}
.article-content h5{font-size:14px;}
.article-content ul, .article-content ol{margin:0 0 18px 50px}
.article-content ul{list-style: disc;}
.article-content ol{list-style: decimal;}
.article-content li{margin-bottom: 6px;}
.article-content p{margin-bottom:18px;word-wrap:break-word}
.article-content pre{word-wrap:break-word}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:18px}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content .alignnone{margin:0 auto;}
.article-content .alignleft{float:left;text-align:left;margin-right:10px}
.article-content .aligncenter{margin: 0 auto;text-align: center;display: block;}
.article-content .alignright{float:right;text-align:right;margin-left:10px}
.article-content .wp-caption{margin-bottom: 18px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.article-content .wp-caption img{margin: 0 0 5px;}
.article-content .wp-caption p{margin-bottom: 10px;text-indent: 0;}
.article-content .wp-caption.alignnone{text-align: center;}
.article-content .wp-caption:hover .wp-caption-text{color: #45B6F7;}
.article-content a{text-decoration:underline;color: #45B6F7;}
.article-content a:hover{color: #FF5E52;}

.article-content pre,.comment pre{margin:20px 0;font:12px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}
.article-content blockquote{margin: 30px 30px;padding: 15px 20px 1px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}
.article-content blockquote p{margin:0;padding:0;margin-bottom: 10px;}

.tag-clouds{overflow: hidden;}
.tag-clouds a{float: left;margin: 0 1% 1% 0;padding: 0 10px;line-height: 28px;height: 28px;width: 19%;color: #999;background-color: #eee;font-size: 12px;border-radius: 2px;}
.tag-clouds a small{margin-left: 5px;}
.tag-clouds a:hover{color: #fff;background-color: #4DAAE6;}

.plinks{overflow:hidden;}
.plinks .linkcat{margin-bottom: 50px;}
.plinks h2{border-bottom:solid 1px #eee;font-size: 20px;padding-bottom: 5px;}
.plinks ul{clear: both;overflow: hidden;}
.plinks ul li{width:20%;float:left;}
.plinks ul li a{display:block;padding:0 10px;height: 38px;line-height: 38px;overflow:hidden;border: 1px solid #eaeaea;margin: 10px 10px 0 0;}
.plinks ul li img{float: left;width: 16px;height: 16px;margin-right: 8px;margin-top: 10px;}
.plinks ul li a:hover{border-color: #45B6F7;}


@media (min-width:768px){.container{width:auto}}
@media (min-width:992px){.container{width:auto}}
@media (min-width:1200px){.container{width:auto}}

@media (max-width: 1320px) {
	.menusns .sub-menu{right: 0;left:auto;}
}
@media (max-width: 1240px) {
	.container{margin: 0 15px;}
	.pageheader{padding: 15px 0;}
} 

@media (max-width: 1024px) {
	.content{margin-right: 0;}
	.sidebar{display: none;}
	.footer .fright{display: none;}
	.footer .fweixin{display: none;}
	.site-search-form{padding: 25px 0;}
	.navto-nav, .navto-design{display: none;}
	.brand{display: none;}

	.container-page{padding-left: 185px;}
	.pageside{width: 170px;}

	.plinks ul li{width: 25%;}
}

@media (max-width: 860px) {

	.pageheader h1{font-size: 22px;}
	.pageheader .share{display: none;}

	.container-page{padding-left: 155px;}
	.pageside{width: 140px;}
	.pagemenu li a{padding: 10px 5px 10px 15px;}

	.tag-clouds a{width: 24%}

	.archives h3{float: none;}
	.archives-list{margin-left: 0;}

	.plinks ul li{width: 33.3333333%;}
}

@media (max-width: 720px) {

	.pageheader, .page-template-pagesnavs-php .pageheader{margin-top: -15px;}

	.tag-clouds a{width: 32.3333333%}
	.readers a.item-top{float: none;width: auto;display: block;margin: 0 0 15px 0;}


}

@media (max-width: 640px) {

	.article-header{text-align: left;padding: 15px 0;}
	.article-title{font-size: 18px;font-weight: bold;margin-bottom: 5px;line-height: 22px;}
	.article-meta .item{margin-right: 10px;}
	.asb-post{margin-bottom: 15px;}
	.article-content img{border-radius: 5px;}

	.post-copyright{display: none;}
	.action-share{text-align: left;}
	.article-tags{text-align: left;}

	.rollbar{right: -120px;}
	.article-content{font-size: 15px;line-height: 24px;}
	.article-content p,
	.article-content h2,
	.article-content h3,
	.article-content h4{margin-bottom: 15px;}
	.article-content h2{font-size: 16px;font-weight: bold;margin: 15px -10px 15px -10px;line-height: 18px;padding-left: 10px;border-left:none}
	.article-content ul, .article-content ol{margin-left:20px;}
	
	.content{min-height: 300px;}

	/*.pagetitle{padding: 10px 10px 6px;}*/
	.pagetitle h1{font-size: 16px;font-weight: bold;}

	.excerpt{padding: 10px 10px 10px 180px;}
	.excerpt .focus{width: 160px;margin-left: -170px;}
	.excerpt .thumb{width: 160px;height: 109px;}
	.excerpt .note{display: none;}
	.excerpt .cat{display: none;}
	.excerpt h2, .excerpt-minic h2{font-size: 16px;line-height: 18px;}
	
	.excerpt-minic{padding: 10px;}
	.excerpt-minic-index h2{font-size: 16px;margin-bottom: 5px;}
	.excerpt-minic .note{font-size: 12px;text-indent: 24px;}

	.list-text .excerpt{padding: 15px;}
	.list-text .excerpt .meta{margin-bottom: 0;}

	.pageheader, .page-template-pagesnavs-php .pageheader{margin-top: -11px;}
	.pageheader h1{font-weight: bold;font-size: 18px;}
	.pageheader .note{font-size: 12px;}

	.container-page{padding-left: 110px;}
	.container-page .content{padding: 15px;}
	.container-page .content::after{display: none;}
	.pageside{width: 100px;}
	.pagemenu{margin-bottom: 5px;}
	.pagemenu li a{padding: 7px 10px;font-size: 14px;font-weight: bold;}


	.branding{padding: 30px 15px;}
	.branding h1, .branding h2{font-size: 20px;margin-bottom: 10px;}

	.btn-lg{font-size: 14px;padding: 6px 15px;border-radius: 2px;}
	
	
	.pagetitle h1, .pagetitle h2, .pagetitle h3{font-size:16px;font-weight:bold;}
	.title h3{font-size:16px;}
	.title .more{display: none;}

	.archives-list span{display: none;}
	.archives h3{font-size: 16px;font-weight: bold;}
	
}

@media (max-width: 480px) {
	.container{margin: 0 10px;}
	.single section.container{margin: 0;}
	.single .content{border: none;padding: 0 15px;border-radius: 0}
	.single{padding-top: 54px;}
	.article-header{margin-bottom: 10px;}
	
	/*#focusslide{margin: -11px -10px 10px;}*/
	/*.carousel-inner .item img{border-radius: 0}*/
	.carousel-indicators{bottom: 2px;}
	.carousel-indicators li, .carousel-indicators li.active{width: 7px;height: 7px;margin: 0 1px;}


	.cat-first{padding: 10px 10px 10px 170px;}
	.cat-first .thumbnail{margin-left: -160px;width: 150px;}
	.cat-first .note{display: none;}
	.cat-first .meta .pc{display: none;}
	.cat-first h2, .excerpt-minic h2{font-size: 16px;line-height: 20px;}

	.cat-posts li{width: 50%;}
	.cat-posts li a{padding: 10px;}
	.cat-posts li:nth-child(1){border-radius: 0}
	.cat-posts li:nth-child(1), .cat-posts li:nth-child(2){border-bottom: none;}
	.cat-posts li:nth-child(3){border-left: 1px solid #eaeaea;border-radius: 0 0 0 4px;}

	.tag-clouds a{width: 49%}
	.plinks ul li{width: 50%;}
	
	.page-template-pagesresetpassword-php section.container{margin: 0;}
	.page-template-pagesresetpassword-php .content{border: none;padding: 0 15px;border-radius: 0}
	.page-template-pagesresetpassword-php{padding-top: 44px;}
	.page .content.resetpass{padding: 15px;}
	.nav_fixed.page .content.resetpass{padding: 40px 15px 15px;}
	.resetpasssteps{margin: -14px -15px 15px -15px;}
	.resetpasssteps li{font-size: 12px;line-height: 28px;}
	.resetpass form{width: 100%;}
	.resetpass h3{font-size: 16px;}
	
	.sign .container{width: 80%}
	.sign .close-link{right: 0;left:auto;}
	.sign form{padding: 0 20px;}
	.sign h3{padding: 25px 20px;margin: 0 -20px 20px;}
	.sign h3 small{margin-right: 80px;}


	.pagination ul > li{display:none}
	.pagination ul > li.prev-page, .pagination ul > li.next-page{display:inline}
	.pagination ul > li.next-page a{background-color:#45B6F7;color:#fff;}

	.input-lg{height: 34px;border-radius: 4px;font-size: 14px;padding: 10px;}
	
	.excerpt{padding: 10px 10px 10px 120px;}
	.excerpt .focus{width: 100px;margin-left: -110px;}
	.excerpt .thumb{width: 100px;height: 68px;}
	.excerpt .note{display: none;}
	.excerpt .author{display: none;}
	.excerpt .pc{text-decoration: none;}

	.excerpt h2 {
        overflow: hidden;
        display: block;	
        position: relative;
        min-height: 40px;
    }

    .list-text .excerpt{padding: 10px;}
    .list-text .excerpt h2{min-height: 0;}
	
}
@media (max-width: 360px) {

	.single .content{padding: 5px 15px;}


	.cat-ebox li{width: 100%;border-right: none;}
	.cat-ebox li:first-child{border-bottom: 2px solid #eaeaea;}

	.cat-posts li a{height: 170px;}

	.article-header{padding: 10px 0;text-align: left;}
	.article-meta .item:nth-child(2){display: none;}
	.article-title{font-size: 16px;}
	
	
	.excerpt h2{font-size:14px;line-height:18px;}
	.excerpt .pc{display:none}
	.excerpt .pv{margin-right:0;}
	
	.btn-lg{padding:8px 20px;font-size:14px;}
	
	#commentform{padding-left: 0;}
    #respond{overflow: hidden;width: 100%}
    .comt{padding-left: 0;}
    .comt-title{width: auto;float: none;margin-left: 0;overflow: hidden;margin-bottom: 10px;}
    .comt-avatar{width: 30px;height: 30px;float: left;margin-right: 5px;}
    .comt-avatar .avatar{width: 30px;height: 30px;border-radius: 50%;}
    .comt-comterinfo{width: 100%;}
    .comt-comterinfo .text-muted{display: none;}
    .comt-comterinfo input{width: 100%;margin-right: 0;box-shadow: none;}
    .comment-reply-link, .comt-info{position: relative;top: 0;display: inline-block;margin-left: 10px;}
    .comt-main{margin-right: 0;margin-left:40px;}
    .comt-f{display: none;}
    .commentlist > .comment .children{margin-left: 0;}
    .commentlist > .comment.depth-1 > .children{margin-left: 46px;}
    .comt-author{display: inline-block;}

	.branding{padding: 30px 10px;}
	.branding h1, .branding h2{font-size: 16px;font-weight: bold;margin-bottom: 10px;}
	.branding p{font-weight:normal}

	.tag-clouds a{width: 99%}
	.plinks ul li{width: 100%;}
}

