*{margin: 0;padding: 0;word-wrap:break-word;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,form,blockquote{margin:0;padding:0}
body{background-color:#f5f6fa;color: #4C4C4C;font-family:"PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans","Hiragino Sans GB",'微软雅黑',STHeiti,"WenQuanYi Micro Hei",Arial,SimSun,sans-serif;}
ul,ol,li{list-style:none}
a {text-decoration:none;color:#555;}
a:hover {text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:block;*zoom:1}
.clear{ clear:both;height:0; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.whitebg{background:#fff;}
/*navgate*/
.headerbox{width:100%;top:0; left:0;}
.header{height:1.5rem; line-height:1.5rem; font-size:1.1rem;}
.header .headin{position:absolute; top:0;}
.header .headertit{text-align:center;}
.header .headertit img{height:1.5rem; margin-top:0.5rem;}
.header .headin i{width:1.5rem; height:1.5rem; margin-top:0.6rem;color:#f26929;}
.header .inleft{left:0.9rem}
.header .inright{right:0}
.navgate{background:#fff; overflow:hidden; transition:0.3s;margin:1rem 0.5rem;border-radius:5px;text-align:center;display: none;}
.citylink{margin:0.5rem 0;}
.citylink a{padding:0 0.5rem;font-size:1.1rem;line-height:1.8rem;}
/*banner*/
.topbanner{margin:0 0.5rem;overflow:hidden;}
.topbanner img{border-radius:6px;}
/*nav*/
.super-search-source {margin:0 0.5rem;max-width:100%;height:40px;position:static;white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.super-search-source a {color:#0a1629;line-height:40px;display:inline-block;font-size:1.1rem;margin:0 6px}
.super-search-source .selected {font-size:1.2rem;color:#f26929;line-height:38px;border-bottom: 2px solid #f26929;}
/*box*/
.partbox{margin:0 0.5rem;border-radius:5px;}
.parttit{line-height:2.5rem;padding:0 0.8rem;}
.parttit .tit{font-size:1.2rem;text-align:left;display:inline-block;font-weight:bold;color:#f26929;}
/*picbox*/
.picbox{overflow: hidden;transition: 0.3s; position:relative;}
.piclist{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;margin:0.5rem;}
.piclist li{-webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;flex: 1; text-align:center;margin:0 0.4rem;float:left;}
.piclist li a{display:block;font-size:1.1rem;width:200px;text-align:center;line-height:1.8rem;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.piclist li a img{display:block;width:200px;height:120px;margin:0 auto;border-radius:5px;}
/*site*/
.module-listA{overflow:hidden}
.module-listA li{position:relative;float:left;width:33.3333333333%;line-height:3rem;overflow:hidden;border-bottom:1px solid #eee;text-align:center}
.module-listA li:after{content:"";position:absolute;top:50%;right:0;margin-top:-0.79167rem;background-color:#eee;width:1px;height:1.58333rem;overflow:hidden}
.module-listA li:nth-child(3n):after { right: -1px;}
.module-listA li a{display:block;font-size:1.1rem;text-align:center;overflow:hidden;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;}
.module-listA li a:active{background-color:#f7f7f7}
/*timeline*/
.timeline {padding-left:20px;padding-top:10px;}
.timeline-item {position:relative;padding-bottom:15px;}
.timeline-axis {position:absolute;left:-3.6px;top:0;z-index:10;width:8px;height:8px;line-height:20px;background-color:#fff;color:#f26929;border-radius:50%;text-align:center;cursor:pointer;margin-top:5px;}
.timeline-axis:hover {color:#ff5722}
.timeline-item:before {content:"";position:absolute;left:0;top:0;z-index:0;width:1px;height:100%;background:#f26929;margin-top:5px;}
.timeline-item:first-child:before {display:block;}
.timeline-item:last-child:before {display:none;}
.timeline-content {padding-left:15px;width:92%;}
.timeline-title {position:relative;margin-bottom:10px;line-height:1.5rem;font-size:1.1rem;}
.roundness {background-color:#f26929;}