@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, button, img{margin: 0;padding: 0;}
img, button{border: 0}
ol, ul, li{list-style: none}
body{background: #f3f0eb;color: #333;font-size: 14px;font-family: "Microsoft YaHei", "simsun";}
h1, h2, h3, h4, h5, h6{font-weight: normal}
s, i, u, em{font-style: normal}
.fl{float: left}
.fr{float: right}
.clear{clear: both;zoom: 1}
.clearfix:before, .clearfix:after{display: table;content: ""}
.clearfix:after{clear: both;overflow: hidden}
.clearfix{zoom: 1}
a{color: #425269;text-decoration: none}
a:hover{color: #ff4839}
a:focus{outline: 0;-moz-outline: 0}
.ads-your, a{-webkit-transition: all 0.25s;-moz-transition: all 0.25s;-ms-transition: all 0.25s;-o-transition: all 0.25s;transition: all 0.25s;}
/*通用导航*/
.header{width:100%;min-width: 1200px;position: relative;top: 0;left: 0;right: 0;z-index: 9;background-color: #fff;padding: 20px 0 20px;margin-bottom: 15px;border-bottom: 1px solid #EAEAEA;border-color: rgba(0,0,0,.08);box-shadow: 0 1px 3px rgba(0,0,0,.03);}
.top{position: relative;margin: 0 auto;width:1200px;padding: 0;}
.logo{overflow: hidden;float: left;margin: 0;}
.logo a{height: 32px;font-weight: 700;line-height: 29px;display: block;color:#f26929;font-size: 30px;font-family: "微软雅黑";}
.logo a i{font-size: 26px;float: left;margin-top: 1px;margin-right: 6px;background: #61B3E6;color: #fff;width: 30px;height: 30px;text-align: center;line-height: 33px;text-indent: 1px;border-radius: 5px;}
.brand{font-size: 13px;float: left;line-height: 16px;color: #bbb;padding-left: 10px;position: relative;top: 1px;border-left: 2px solid #eaeaea;margin-left: 10px;overflow: hidden;height: 35px;}
.site-navbar, .site-search, .widget-navcontent .item, .site-nav .icon-angle-down, .rollbar li, .rollbar h6, .btn, .search-btn, .pads h4, a{-webkit-transition: all 0.25s;-moz-transition: all 0.25s;-ms-transition: all 0.25s;-o-transition: all 0.25s;transition: all 0.25s;}
.site-navbar{float: right;font-size: 16px;margin-top: 7px;margin-right: -15px;}
.site-navbar li{position: relative;float: left;}
.site-navbar a{display: block;padding: 0 10px;color: #666;}
.site-navbar li.active > a{color: #45B6F7;}
.site-navbar .fa{width: 18px;line-height: 24px;}
.topbar{position: absolute;top: -39px;left: 0;right: 0;margin-bottom: 20px;margin-right: -15px;color: #999;}
.topbar a{color: #999;}
.topmenu{float: right;}
.topmenu li{position: relative;float: left;}
.topmenu li:hover > a, .topmenu li.active a:hover, .topmenu a:hover{color: #45B6F7;}
.topmenu a{display: block;padding: 0 15px;color: #999;}
.topmenu .red{color: #FF5E52;display: inline-block;}
.site-nav .sub-menu{display: none;position: absolute;top: 100%;left: 0;background-color: #fff;font-size: 12px;padding: 6px 0;border: 1px solid #ddd;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);line-height: 32px;width: 132px;font-weight: bold;border-radius: 4px;}
.site-nav li:hover > .sub-menu{display: block;}
.site-navbar li:hover > a, .site-navbar li.active a:hover, .site-navbar a:hover, .News_box .hd_tit a:hover{color: #45B6F7;}
.topmenu li:hover{z-index: 2;}
.site-nav .sub-menu li{float: none;}
.site-nav .sub-menu a:hover{background-color: #f6f6f6;}
.topbar .fa{width: 14px;}
.site-search{width: 1200px;height:50px;margin: 0 auto;}
.site-search-form{padding: 10px 20%;overflow: hidden;}
.search-input{float: left;color: #999;border: solid 1px #ddd;width: 86%;height: 30px;padding: 4px 0;border-right: none;font-size: 16px;border-radius: 2px 0 0 2px;outline: none;text-indent: 2%;}
.search-btn{color: #fff;border: none;background: #45B6F7;height: 40px;font-size: 16px;padding: 0 12px;border-radius: 0 2px 2px 0;width: 10%;display: inline-block;}
.m-icon-nav{display: none;}
.site-search.active{top: 108px;}
.minnav, .minul{display: none}
/*导航栏下方网站统计*/
.tongji{width: 1200px;margin: 0 auto;text-align: center;color: #999;}
.tongji i{margin: 0 20px;color: #CFCFCF}
.tongji span{color: #EE8077}
/*当前位置*/
.navigation{width: 1200px;height:40px;margin: 0 auto;line-height:40px;color: #a5a5a5;font-size: 14px;}
.navigation i{margin-right: 3px}
.navigation a{padding: 0 6px;color: #a5a5a5}
.navigation a:hover{color: #ce2029}
.navigation a.no{color: #ce2029}
/*主体部分*/
.wrap{margin: 0 auto;width:1200px}
.pagemst{margin: 0 auto;overflow: hidden;width:1200px}
#pager{height: 41px;line-height: 40px;padding: 30px 20px;text-align: center;overflow: hidden;}
#pager span, #pager a:hover, #pager b{border: 1px solid #FE8101;background: #FFA405;border-radius: 2px;color: white;display: inline-block;font-size: 16px;height: 36px;line-height: 36px;padding: 0 14px;text-align: center;margin-right: 4px;}
#pager a{color: #666;display: inline-block;font-size: 16px;height: 36px;line-height: 36px;padding: 0 14px;background-image: -webkit-linear-gradient(top, white, #F0F0F0);border-radius: 2px;border: 1px solid #C1C1C1;text-align: center;margin-right: 4px;}
/*底部版权信息*/
.pagefot{margin-top: 20px;padding-top: 10px;width: 100%;height: 105px;background: #474747;color: #747474}
.footer{margin: 0 auto;width: 100%;text-align: center;padding-top: 24px;}
.footer a{color: #747474}
.footer p{margin-top: 6px;font-size: 12px}
.footer span{margin: 0 5px}
/*返回顶部及二维码*/
#elevator_item{width: 60px;height: 100px;position: fixed;right: 15px;bottom: 50%;-webkit-transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out;opacity: 1;z-index: 100020;display: none;}
#elevator{display: block;width: 60px;height: 50px;background-color: rgba(0,0,0,.6);border-radius: 2px;box-shadow: 0 1px 3px rgba(0,0,0,.2);cursor: pointer;margin-bottom: 10px;text-align: center;}
#elevator i{font-size: 46px;color: #fff;}
#elevator:hover{background-color: rgba(0,0,0,.7);}
#elevator_item .qr{display: block;text-align: center;width: 60px;height: 40px;border-radius: 2px;box-shadow: 0 1px 3px rgba(0,0,0,.2);cursor: pointer;background-color: rgba(0,0,0,.6);}
#elevator_item .qr i{color: #fff;font-size: 27px;margin-top: 7px;}
#elevator_item .qr-popup{width: 170px;height: 200px;background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,.1);position: absolute;left: -180px;bottom: 0;border-radius: 2px;display: none;text-align: center;}
#elevator_item .qr-popup .code-link{display: block;margin: 10px;color: #777;}
#elevator_item .qr-popup .code{display: block;margin-bottom: 10px;width: 150px;height: 150px;}
/*列表页及文章内容页公用左右分栏结构样式*/
.fh_left{width: 850px;margin-right: 310px;float: left;overflow: hidden;padding: 10px 20px 20px 20px;background: #FFF;}
.fh_right{float: left;overflow: hidden;width: 300px;margin-left: -300px;}
/*附加：通用table表格样式*/
.hc-table{border-collapse: collapse;border-spacing: 0;empty-cells: show;border: 1px solid #cbcbcb;width: 100%}
.hc-table thead{background: #e0e0e0;color: #000;text-align: left;vertical-align: bottom;}
.hc-table td, .hc-table th{border-left: 1px solid #cbcbcb;border-width: 0 0 0 1px;font-size: inherit;margin: 0;overflow: visible;padding: 1em;}
.hc-table th{padding: .7em 1em;font-weight: 100;}
.hc-table td:first-child, .hc-table th:first-child{border-left-width: 0;}
.hc-table td{background-color: transparent;border-bottom: 1px solid #cbcbcb;}
.hc-table.crt tbody tr:nth-child(2n){background: #FDFCFC;}
.hc-table tbody tr:hover,.hc-table.crt tbody tr:hover{background: #f5f5f5;}
.hc-table select{padding: 4px;border-radius: 3px;border: 1px solid #dadada;margin: 0;}
blockquote{color: #F07C31;background-color: #F2F2F2;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid;clear: both;-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;border-color: #E5E5E5;padding: 15px;}
#changyan_floatbar_wrapper,#powerby_sohu{display: none;}
.ad_common{margin: 0 auto;text-align: center;background: #FFF;}
#all_ad{margin-bottom: 20px;width:1200px;}
#all_ad img{max-width: 960px;}
.ad_common img,#down_detail_ad4 img,#down_detail_ad1 img,#down_detail_ad2 img,#down_detail_ad3 img{width: 100%;}
#index_ad1,#down_end_ad1,#text_ad1{margin-top: 20px;}
#list_right_ad1,#down_end_ad1{margin-bottom: 10px;}
.down_end_ad div{float: left;padding: 0 10px;}
#app_detail_ad1{float: right;}
#app_detail_ad2 img{max-width: 540px;}
#down_detail_ad2 img,#down_detail_ad3 img{max-width: 728px;}
#down_detail_ad1 img,#down_detail_ad4 img{max-width: 540px;}
.float_ad_fixed{position: fixed;top: 0;}
#powerby_sohu{display: none!important;}
.ad2{margin-bottom:5px;}
/*share*/
.bdshare-button-style0-24 a, .bdshare-button-style0-24 .bds_more{display:inline-block!important;overflow:hidden!important;margin:0 0 0 8px!important;padding:0!important;width:32px!important;height:32px!important;background:url(../images/share-icon2.png) no-repeat!important;background-color:none!important;color:#ccc!important;vertical-align:middle!important;line-height:32px!important}
.bdshare-button-style0-24 .bds_weixin{background-position:-126px 0!important;}
.bdshare-button-style0-24 .bds_tsina{background-position:0 0!important;}
.bdshare-button-style0-24 .bds_qzone{background-position:-84px 0!important;}
.bdshare-button-style0-24 .bds_sqq{background-position:-42px 0!important;}
.bdshare-button-style0-24 .bds_tieba{background-position:-168px 0!important;}
/*畅言样式*/
#SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w .service-wrap-w a {display: none!important;}
#feedAv{ margin-top: -250px!important;transform: scale(0);}