@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-moz-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-ms-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-moz-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-ms-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.button--moema {
  position: relative; }
  .button--moema:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0.4;
    z-index: -1;
    border-radius: 10px;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    -moz-transform: scale3d(0.8, 0.5, 1);
    -ms-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1); }

.button--moema:hover {
  -webkit-animation: anim-moema-1 0.3s forwards;
  -moz-animation: anim-moema-1 0.3s forwards;
  -ms-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards; }
  .button--moema:hover:after {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards; }

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }


.banner-table {
  position: absolute;
  width: 312px;
  height: 392px;
  overflow: hidden;
  left: 50%;
  margin-left: -600px;
  top: 38px;
  bottom: auto;
  right: auto;
  background-image: url(https://cdn.bingdou.com.cn/tcnet_px/images/banner-table-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0; 
	z-index: 100;}

.banner-table-title {
  font-size: 22px;
  line-height: 66px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7px; }

.banner-time {
  text-align: center;
  margin-bottom: 11px;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  font-weight: normal;
  text-align: center; }
  .banner-time span {
    display: inline-block;
    border-radius: 4px;
    width: 40px;
    margin: 0 5px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    background-color: #f40045; }

.banner-table-input {
  width: 285px;
  margin-left: 12px;
  margin-bottom: 7px; }
  .banner-table-input img {
    margin-top: 7px;
    margin-right: 6px; }
  .banner-table-input input {
    box-sizing: border-box;
    width: 250px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 42px;
    color: #000;
    font-weight: normal;
    text-align: left; }

.banner-table-submit {
  display: block;
  width: 282px;
  height: 47px;
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 8px;
  background-color: #4d89f7;
  font-size: 18px;
  line-height: 47px;
  color: #fff;
  font-weight: normal;
  text-align: center;}
  .banner-table-submit img {
    vertical-align: middle;
    margin-left: 10px; }

.banner-table-subtit {
  margin-left: 14px;
  padding-left: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  background-image: url(https://cdn.bingdou.com.cn/tcnet_px/images/banner-table-ico-1.png);
  background-repeat: no-repeat;
  background-position: left center; }

.banner-job-data {
  width: 283px;
  height: 125px;
  overflow: hidden;
  margin-left: 13px;
  position: relative; }
  .banner-job-data > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .banner-job-data p img {
    margin: 8px 4px 0 0; }
  .banner-job-data p span {
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-weight: normal;
    text-align: left; }
